<template>
  <b-col lg="12" xl="12">
    <b-card
      :header="$t('Configuración Perfil')"
      header-bg-variant="transparent"
    >
      <div>
        <b-tabs content-class="mt-3">
          <b-tab :title="$t('Perfil')" active>
            <profile></profile>
          </b-tab>
          <b-tab :title="$t('Cambio de Contraseña')">
            <p-change></p-change>
          </b-tab>
          <!-- <b-tab :title="$t('Facturas')"> </b-tab> -->
        </b-tabs>
      </div>
    </b-card>
  </b-col>
</template>
<script>
import profile from "./components/profile.vue";
import pChange from "./components/passwordchange.vue";

export default {
  data() {
    return {};
  },
  components: {
    profile,
    pChange
  },
  computed: {
    hasErrors() {
      return 422 === this.status && this.errors !== null;
    }
  }
};
</script>
