<template>
  <div>
    <b-row>
      <b-col lg="4" md="6" sm="6">
        <router-link to="/app/inventory/entry/list" tag="a">
          <b-card class="card-icon text-center mb-30">
            <i class="i-Upload"></i>
            <p class="text-muted mt-2 mb-2">Entrada Inventario</p>
            <p class="text-primary text-24 line-height-1 m-0">21</p>
          </b-card>
        </router-link>
      </b-col>
      <b-col lg="4" md="6" sm="6">
        <b-card class="card-icon text-center mb-30">
          <i class="i-Download"></i>
          <p class="text-muted mt-2 mb-2">Salida Inventario</p>
          <p class="text-primary text-24 line-height-1 m-0">21</p>
        </b-card>
      </b-col>
      <b-col lg="4" md="6" sm="6">
        <b-card class="card-icon text-center mb-30">
          <i class="i-Money-2"></i>
          <p class="text-muted mt-2 mb-2">Devoluciones</p>
          <p class="text-primary text-24 line-height-1 m-0">4021</p>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {};
</script>
<style scoped></style>
