<template>
  <b-modal id="modal-lg" size="lg" title="Agregar Categorías">
    <b-form
      @submit="onSubmit"
      @reset="onReset"
      class="row"
      enctype="multipart/form-data"
      autocomplet="off"
    >
      <b-col md="6">
        <b-row>
          <b-col md="12" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Nombre") }}</p>
            <b-form-input
              :class="['form-control', { 'is-invalid': this.errorFor('name') }]"
              v-model.trim="name"
            />
            <b-alert
              v-for="(error, key) in errorFor('name')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="12" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Descripción") }}</p>
            <b-form-textarea
              class="form-control"
              id="textarea"
              v-model.trim="description"
              rows="4"
              max-rows="4"
            ></b-form-textarea>
          </b-col>
          <b-alert
            v-for="(error, key) in errorFor('description')"
            :key="key"
            show
            variant="danger"
            class="error col-md-12 mt-1"
            >{{ error }}</b-alert
          >
          <b-col md="12" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Estado") }}</p>

            <b-form-select
              v-model="state"
              :options="{ '1': 'Activo', '2': 'Inactivo' }"
              id="inline-form-custom-select-pref"
            >
            </b-form-select>
          </b-col>
        </b-row>
      </b-col>
      <b-col md="6">
        <p class="font-weight-400 mb-2">{{ $t("Imagen de la Categoría") }}</p>

        <div
          @click="openImage"
          ref="preview"
          id="preview"
          class="card mb-30 o-hidden"
          style="border: 1px gray dashed;background:#d3d3d373;min-height: 240px;
    max-height: 240px;cursor:pointer"
        ></div>
        <a
          @click.prevent="deleteImage"
          v-if="this.previewImg"
          class="btn btn-danger"
          style="color:white"
          >Eliminar</a
        >
        <b-form-group id="fileInput" class="dragdrop" style="display: none">
          <b-form-file
            id="file"
            v-model="file"
            accept="image/jpeg, image/png, image/gif"
            placeholder=""
          ></b-form-file>
        </b-form-group>
      </b-col>
    </b-form>
    <div slot="modal-footer" class="w-100">
      <b-button v-if="action == 1" variant="primary" @click="onSubmit">{{
        $t("Guardar")
      }}</b-button>
      <b-button v-if="action == 2" variant="primary" @click="onUpdate">{{
        $t("Actualizar")
      }}</b-button>
      <b-button variant="default" @click="cancelar">
        {{ $t("Cancelar") }}
      </b-button>
    </div>
  </b-modal>
</template>
<script>
import { Axios, Server } from "@/data/config";

export default {
  data() {
    return {
      server: Server,
      file: null,
      state: 1,
      previewImg: null,
      name: null,
      id: null,
      status: null,
      errors: [],
      hasImage: false,
      image: null,
      description: null,
      submitStatus: null
    };
  },
  computed: {
    hasErrors() {
      return 422 === this.status && this.errors !== null;
    }
  },
  props: {
    category: Object,
    action: Number
  },
  created() {
    this.$root.$on("bv::modal::show", () => {
      if (this.category && this.action == 2) {
        this.id = this.category.id;
        this.name = this.category.name;
        this.description = this.category.description;
        const img = document.createElement("img");
        img.classList.add("obj");
        img.src = this.server + this.category.image;
        this.previewImg = img;
        setTimeout(() => {
          this.$refs.preview.appendChild(img);
        }, 0.5);
      }
    });
    this.$root.$on("bv::modal::hidden", () => {
      this.onReset();
    });
  },
  beforeDestroy() {},
  watch: {
    file(val) {
      if (!val) return;
      if (this.previewImg) {
        this.previewImg.remove();
      }
      const img = document.createElement("img");
      img.classList.add("obj");
      img.file = this.file;
      this.previewImg = img;
      this.$refs.preview.appendChild(img);

      this.hasImage = true;

      const fileReader = new FileReader();
      fileReader.onload = e => {
        this.previewImg.src = e.target.result;
        // console.log(e.target.result);
      };
      fileReader.readAsDataURL(this.file);
    }
  },

  methods: {
    deleteImage() {
      this.previewImg.remove();
      this.previewImg = null;
      this.file = null;
      if (this.action == 2) {
        Axios.get("api/category/deleteImage/" + this.id);
      }
    },
    openImage() {
      let v = document.getElementById("file");
      v.click();
    },
    onSubmit() {
      let img = this.previewImg ? this.previewImg.src.split(",")[1] : null;

      Axios.post("api/category", {
        name: this.name,
        description: this.description,
        image: img,
        state_id: this.state
      })
        .then(response => {
          if (response.status == 200) {
            this.$bvToast.toast(this.$t("Categoría Agregada"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
            this.cancelar();
            this.$emit("saved", response.data);
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.errors = error.response.data.error;
              this.status = 422;
              this.$bvToast.toast("Error de Datos", {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    onUpdate() {
      let img =
        this.previewImg && this.hasImage
          ? this.previewImg.src.split(",")[1]
          : null;
      Axios.put("/api/category/" + this.id, {
        name: this.name,
        description: this.description,
        image: this.hasImage ? img : null,
        state_id: this.state
      })
        .then(response => {
          if (response.status == 200) {
            this.$bvToast.toast(this.$t("Categoría Actualizada"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
            this.cancelar();
            this.$emit("saved", response.data);
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.errors = error.response.data.error;
              this.status = 422;
              this.$bvToast.toast("Error de Datos", {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    errorFor(field) {
      return this.errors[field] ? this.errors[field] : null;
    },
    onReset() {
      this.name = "";
      this.description = "";
      this.previewImg = null;
      this.hasImage = false;
      this.status = null;
      this.errors = [];
    },
    cancelar() {
      this.$bvModal.hide("modal-lg");
      this.onReset();
    }
  }
};
</script>
<style>
#preview img {
  max-width: 100%;
}

#fileInput.dragdrop .custom-file:hover .custom-file-label {
  background: rgb(75, 181, 225);
  color: #fff;
}

#fileInput.dragdrop .custom-file-label::after {
  display: none;
}
</style>
