<template>
  <div style="margin:0px;font-family: 'iconsmind'">
    <div class="card" v-if="Invoice">
      <div class="card-header mb-3">
        <div class="row">
          <div class="col-sm-4">
            <img
              class="image"
              width="90"
              :src="server + Invoice.company.logo"
              alt="logo"
            />
          </div>
          <div class="col-sm-4">
            <p class="text-center" style="margin:0px;font-size:20px">
              {{ Invoice.company.name }}
            </p>
            <p class="text-center" style="margin:0px">
              {{ Invoice.company.address }}
            </p>
            <p class="text-center" style="margin:0px">
              {{ Invoice.company.phone }}
            </p>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
      <div class="card-body">
        <div>
          <h3
            class="mb-4 mr-4 text-right"
            style="font-size: 38px;vertical-align: middle;"
          >
            Factura #{{ Invoice.invoice.number }}
          </h3>
        </div>
        <div class="row mb-4">
          <div class="col-sm-6">
            <h5 class="mb-3">Cliente:</h5>
            <h3 class="text-dark mb-1">{{ Invoice.invoice.client_name }}</h3>
            <div>{{ Invoice.invoice.client_address }}</div>
            <!-- <div>{{ Invoice.invoice.client.phone }}</div>
            <div>{{ Invoice.invoice.client.email }}</div> -->
          </div>
          <div class="col-sm-6 ">
            <h5 class="mb-3">Detalle:</h5>
            <h3 class="text-dark mb-1">
              <!-- Factura #{{ Invoice.invoice.number }} -->
            </h3>
            <div><strong>Fecha:</strong> {{ Invoice.invoice.date }}</div>
            <div>
              <strong>Forma de Pago:</strong>
              {{ Invoice.invoice.payment_method_name }}
            </div>
            <!-- <div>Email: info@tikon.com</div>
            <div>Phone: +91 9895 398 009</div> -->
          </div>
        </div>
        <div class="table-responsive-sm mb-1">
          <table class="table table-striped">
            <thead style="background: cornflowerblue">
              <tr>
                <th class="center">#</th>
                <th>Código</th>
                <th>Descripción</th>
                <th class="text-right">Precio</th>
                <th class="text-right">Cantidad</th>
                <th class="text-right">Importe</th>
                <th class="text-right">ITBIS</th>
                <th class="text-right">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(product, key) in Invoice.invoice.invoice_details"
                :key="key"
              >
                <td class="center">1</td>
                <td class="left strong">{{ product.product_code }}</td>
                <td class="left">{{ product.product_name }}</td>
                <td class="text-right">
                  {{ product.product_price | currency("") }}
                </td>
                <td class="text-right">{{ product.product_quantity }}</td>
                <td class="text-right">
                  {{ product.product_sub_total | currency("") }}
                </td>
                <td class="text-right">
                  {{ product.product_itbis | currency("") }}
                </td>
                <td class="text-right">
                  {{ product.product_total | currency("") }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-5"></div>
          <div class="col-lg-4 col-sm-5 ml-auto">
            <table class="table table-clear">
              <tbody>
                <tr>
                  <td style="padding:2px;border:none" class="left">
                    <strong class="text-dark">Sub total</strong>
                  </td>
                  <td style="padding:2px;border:none" class="text-right">
                    {{ Invoice.invoice.sub_total | currency("") }}
                  </td>
                </tr>
                <tr>
                  <td style="padding:2px;border:none" class="left">
                    <strong class="text-dark">Descuento</strong>
                  </td>
                  <td style="padding:2px;border:none" class="text-right">
                    {{ Invoice.invoice.discount | currency("") }}
                  </td>
                </tr>
                <tr>
                  <td style="padding:2px;border:none" class="left">
                    <strong class="text-dark">ITBIS</strong>
                  </td>
                  <td style="padding:2px;border:none" class="text-right">
                    {{ Invoice.invoice.itbis | currency("") }}
                  </td>
                </tr>
                <tr>
                  <td style="padding:2px;border:none" class="left">
                    <strong class="text-dark">Total</strong>
                  </td>
                  <td style="padding:2px;border:none" class="text-right">
                    <strong class="text-dark">{{
                      Invoice.invoice.total | currency("")
                    }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <p v-if="Invoice.invoice.note" style="bottom:20px">
          <strong>Nota:</strong> {{ Invoice.invoice.note }}
        </p>
      </div>
      <!-- <div class="card-footer bg-white">
        <p class="mb-0">Nota:</p>
      </div> -->
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { Server } from "@/data/config";

export default {
  data() {
    return {
      name: "my-root-poan",
      server: Server,
      htmlToPdfOptions: {
        html2canvas: {
          useCORS: true
        }
      }
    };
  },
  computed: {
    ...mapGetters(["Invoice"])
  }
};
</script>
<style scoped>
body {
  background-color: #000;
}

.padding {
  padding: 2rem !important;
}

.card {
  margin-bottom: 30px;
  border: none;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

.card-header {
  background-color: #fff;
  border-bottom: 1px solid #e6e6f2;
}

h3 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
  line-height: 26px;
  color: #3d405c;
  margin: 0px 0px 15px 0px;
  font-family: "Circular Std Medium";
}

.text-dark {
  color: #3d405c !important;
}
</style>
