<template>
  <div>
    <b-modal id="modal-sell" size="lg" title="Reporte de Ventas">
      <b-form
        @submit="onSubmit"
        @reset="onReset"
        class="row"
        enctype="multipart/form-data"
        autocomplet="off"
      >
        <b-col md="12">
          <b-row>
            <b-col md="6" class="mb-3">
              <p class="font-weight-400 mb-2">
                {{ $t("Fecha Desde")
                }}<span class="text-danger font-weight-bolder">*</span>
              </p>
              <b-form-input
                :class="[
                  'form-control',
                  { 'is-invalid': this.errorFor('form.date_start') }
                ]"
                v-model="form.date_start"
                type="date"
                id="date"
              />
            </b-col>
            <b-col md="6" class="mb-3">
              <p class="font-weight-400 mb-2">
                {{ $t("Fecha Hasta")
                }}<span class="text-danger font-weight-bolder">*</span>
              </p>
              <b-form-input
                :class="[
                  'form-control',
                  { 'is-invalid': this.errorFor('form.date_end') }
                ]"
                v-model="form.date_end"
                type="date"
                id="date"
              />
            </b-col>
            <b-col md="6" class="mb-3">
              <p class="font-weight-400 mb-2">
                {{ $t("Clientes")
                }}<span class="text-danger font-weight-bolder">*</span>
              </p>
              <v-select
                multiple
                v-model="form.client_id"
                :options="clients"
                label="name"
                placeholder="Todos"
              ></v-select>
            </b-col>
            <b-col md="6" class="mb-3">
              <p class="font-weight-400 mb-2">
                {{ $t("Vendedores")
                }}<span class="text-danger font-weight-bolder">*</span>
              </p>
              <v-select
                multiple
                v-model="form.employee_id"
                :options="employees"
                label="name"
                placeholder="Todos"
              ></v-select>
            </b-col>
            <b-col md="12" class="mb-3">
              <p class="font-weight-400 mb-2">{{ $t("Estado") }}</p>

              <b-form-select
                v-model="form.state"
                :options="{ '1': 'Activo', '2': 'Inactivo' }"
                id="inline-form-custom-select-pref"
              >
              </b-form-select>
            </b-col>
          </b-row>
        </b-col>
      </b-form>
      <div slot="modal-footer" class="w-100">
        <b-button style="cursor:pointer" variant="primary" @click="onSubmit">{{
          $t("Imprimir")
        }}</b-button>
        <b-button variant="default" @click="cancelar">
          {{ $t("Cancelar") }}
        </b-button>
      </div>
    </b-modal>

    <div>
      <vue-html2pdf
        :show-layout="false"
        :float-layout="true"
        :enable-download="false"
        :preview-modal="true"
        :paginate-elements-by-height="1400"
        filename="hee hee"
        :pdf-quality="2"
        :manual-pagination="false"
        pdf-format="a4"
        pdf-orientation="portrait"
        pdf-content-width="800px"
        @hasStartedGeneration="hasStartedGeneration()"
        @hasGenerated="hasGenerated($event)"
        ref="html2Pdf"
        :html-to-pdf-options="{
          html2canvas: { useCORS: true }
        }"
      >
        <section slot="pdf-content">
          <section class="pdf-item">
            <sell-report></sell-report>
          </section>
        </section>
      </vue-html2pdf>
    </div>
  </div>
</template>
<script>
import { Axios, Server } from "@/data/config";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import VueHtml2pdf from "vue-html2pdf";
import sellReport from "../incomes/sellReport";
import { mapActions } from "vuex";

export default {
  data() {
    return {
      server: Server,
      clients: [],
      employees: [],
      form: {
        date_start: null,
        date_end: null,
        state: 1,
        client_id: null,
        employee_id: null
      },
      option: {
        html2canvas: {
          scale: 1,
          useCORS: true
        }
      }
    };
  },
  components: {
    vSelect,
    VueHtml2pdf,
    sellReport
  },
  async created() {
    const clients = await Axios.get("/api/aclients");
    this.clients = clients.data;

    const employees = await Axios.get("/api/asemployees");
    this.employees = employees.data;
  },
  methods: {
    ...mapActions(["sellReport"]),
    onSubmit() {
      this.sellReport(this.form).then(response => {
        this.$bvModal.hide("modal-sell");
        console.log(response)

        this.$refs.html2Pdf.generatePdf();
      });
    },
    onReset() {},
    cancelar() {},
    errorFor() {}
  }
};
</script>
<style scoped>
.vue-html2pdf {
  width: 0;
}
</style>
