<template>
  <div class="main-content">
    <breadcumb
      :page="$t('Inventario')"
      :folder="$t('Suplidores')"
      :route="$t('Listado')"
    />

    <b-card class="wrapper">
      <div class="col text-right">
        <button
          type="button"
          @click="addSupplier"
          class="btn btn-primary ripple m-1"
        >
          Agregar
        </button>

        <vue-good-table
          :columns="columns"
          :search-options="{
            enabled: true,
            placeholder: $t('Filtrar Suplidores')
          }"
          :pagination-options="{
            enabled: true,
            mode: 'records'
          }"
          styleClass="tableOne vgt-table"
          :rows="rows"
        >
          <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'image'">
              <img
                class="rounded"
                :src="
                  server +
                    (props.row.image
                      ? props.row.image
                      : 'images/default/noimage.png')
                "
                style="width:50px ; height:50px"
                :alt="props.row.name"
              />
            </span>
            <span v-else-if="props.column.field == 'accion'">
              <span
                ><a @click="editF(props.row)" style="cursor:pointer"
                  ><i class="i-Eraser-2 text-25 text-success mr-2"></i> </a
                ><a @click="deleteF(props.row.id)" style="cursor:pointer"
                  ><i class="i-Close-Window text-25 text-danger"></i> </a
              ></span>
            </span>
            <span v-else-if="props.column.field == 'state_id'">
              <a
                href="#"
                v-if="props.row.state_id === 1"
                target="_self"
                class="badge badge-success p-2 m-1 badge-pill"
                >Activa</a
              >
              <a
                href="#"
                v-if="props.row.state_id === 2"
                target="_self"
                class="badge badge-danger p-2 m-1 badge-pill"
                >Inactiva</a
              >
            </span>
          </template>
        </vue-good-table>
      </div>
    </b-card>
    <modal
      @saved="updateData"
      :supplier="editCategory"
      :action="action"
      @close="resetSupplierData"
    ></modal>
  </div>
</template>

<script>
import { Axios, Server } from "@/data/config";
import Modal from "./modalForm";

export default {
  metaInfo: {
    title: "Listado de Suplidores"
  },
  components: {
    Modal
  },
  data() {
    return {
      server: Server,
      editCategory: {
        name: null,
        description: null,
        image: null
      },
      action: 1,
      columns: [
        {
          label: "Imagen",
          field: "image",
          width: "150px",
          thClass: "gull-th-class",
          sortable: false
        },
        {
          label: "Nombre",
          field: "name",
          type: "String"
        },
        {
          label: "Email",
          field: "email",
          type: "String",
          sortable: false
        },
        {
          label: "Celular",
          field: "cellphone",
          type: "String",
          sortable: false
        },
        {
          label: "Dirección",
          field: "address",
          type: "String",
          sortable: false
        },
        {
          label: "Estado",
          field: "state_id",
          type: "String",
          sortable: false
        },
        {
          label: "Fecha Creación",
          field: "created_at",
          type: "date",
          dateInputFormat: "yyyy-mm-dd",
          dateOutputFormat: "dd-mm-Y"
        },
        {
          label: "Acción",
          field: "accion",
          html: true,
          thClass: "text-right",
          tdClass: "text-right",
          sortable: false
        }
      ],
      rows: []
    };
  },

  methods: {
    addFile() {},
    updateData(data) {
      //console.log(data)
      this.rows = data;
    },
    deleteF(data) {
      this.$swal({
        title: "Está seguro desea eliminar el suplidor?",
        text: "No podrá recuperarla!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Borrar!"
      }).then(result => {
        if (result.value) {
          //this.$swal("Borrada!", "Categoria Eliminada.", "success");
          this.deleteSupplier(data);
        }
      });
    },
    async editF(data) {
      await this.updateSupplierData(data);
      this.showModal();
    },
    updateSupplierData(data) {
      this.editCategory = data;
      this.action = 2;
    },
    resetSupplierData() {
      this.editCategory = {
        name: null,
        description: null,
        image: null
      };
      this.action = 1;
      // console.log('cerrado')
    },
    showModal() {
      this.$bvModal.show("modal-lg");
    },
    addSupplier() {
      this.resetSupplierData();
      setTimeout(() => {
        this.showModal();
      }, 0.5);
    },
    deleteSupplier(data) {
      Axios.delete("api/suppliers/" + data)
        .then(response => {
          if (response.status == 200) {
            this.rows = response.data;
            this.$bvToast.toast(this.$t("Suplidor eliminado"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.$bvToast.toast(error.response.data.error, {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    }
  },
  async created() {
    const suppliers = await Axios.get("/api/suppliers");
    this.rows = suppliers.data;
  }
};
</script>
<style></style>
