<template>
  <b-modal
    id="modal-lg"
    size="xxl"
    title="Agregar Suplidor"
    style="width:80%;max-width:100%"
  >
    <b-form
      @submit="onSubmit"
      @reset="onReset"
      class="row"
      enctype="multipart/form-data"
      autocomplet="off"
    >
      <b-col md="6" class="mb-3" xs="12" xl="2">
        <p class="font-weight-400 mb-2">{{ $t("Imagen del Suplidor") }}</p>

        <div
          @click="openImage"
          ref="preview"
          id="preview"
          class="card o-hidden"
          style="border: 1px gray dashed;background:#d3d3d373;min-height: 240px;
          max-height: 240px;cursor:pointer"
        ></div>
        <a
          @click.prevent="deleteImage"
          v-if="this.previewImg"
          class="btn btn-danger"
          style="color:white;margin: 20px 0 20px 0px;"
          >Eliminar</a
        >
        <b-form-group id="fileInput" class="dragdrop" style="display: none">
          <b-form-file
            id="file"
            v-model="file"
            accept="image/jpeg, image/png, image/gif"
            placeholder
          ></b-form-file>
        </b-form-group>
      </b-col>
      <b-col md="6" xs="12" xl="5">
        <b-row>
          <b-col md="12" class="mb-3">
            <p class="font-weight-400 mb-2">
              {{ $t("Nombre")
              }}<span class="text-danger font-weight-bolder">*</span>
            </p>
            <b-form-input
              :class="['form-control', { 'is-invalid': this.errorFor('name') }]"
              v-model.trim="name"
            />
            <b-alert
              v-for="(error, key) in errorFor('name')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">
              {{ $t("Cédula") }}
            </p>
            <the-mask
              :mask="['###-#######-#']"
              :class="['form-control', { 'is-invalid': this.errorFor('card') }]"
              v-model.trim="card"
            />
            <b-alert
              v-for="(error, key) in errorFor('card')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">
              {{ $t("RNC") }}
            </p>
            <b-form-input
              :class="['form-control', { 'is-invalid': this.errorFor('rnc') }]"
              v-model.trim="rnc"
            />
            <b-alert
              v-for="(error, key) in errorFor('rnc')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">
              {{ $t("Celular") }}
            </p>
            <the-mask
              :mask="['(###) ###-####']"
              :class="[
                'form-control',
                { 'is-invalid': this.errorFor('cellphone') }
              ]"
              v-model.trim="cellphone"
            />
            <b-alert
              v-for="(error, key) in errorFor('cellphone')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">
              {{ $t("Teléfono") }}
            </p>
            <the-mask
              :mask="['(###) ###-####']"
              :class="[
                'form-control',
                { 'is-invalid': this.errorFor('phone') }
              ]"
              v-model.trim="phone"
            />
            <b-alert
              v-for="(error, key) in errorFor('phone')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
        </b-row>
      </b-col>

      <b-col md="12" xs="12" xl="5">
        <b-row>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Email") }}</p>
            <b-form-input
              :class="[
                'form-control',
                { 'is-invalid': this.errorFor('email') }
              ]"
              v-model.trim="email"
            />
            <b-alert
              v-for="(error, key) in errorFor('email')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">
              {{ $t("Estado") }}
            </p>

            <b-form-select
              v-model="state_id"
              :class="[
                'form-control',
                { 'is-invalid': this.errorFor('state_id') }
              ]"
              :options="{ '1': 'Activo', '2': 'Inactivo' }"
              id="inline-form-custom-select-pref"
            ></b-form-select>
            <b-alert
              v-for="(error, key) in errorFor('state_id')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="12" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Dirección") }}</p>
            <b-form-textarea
              :class="[
                'form-control',
                { 'is-invalid': this.errorFor('address') }
              ]"
              id="textarea"
              v-model.trim="address"
              rows="4"
              max-rows="4"
            ></b-form-textarea>
            <b-alert
              v-for="(error, key) in errorFor('address')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>

          <b-col>
            <b-row>
              <b-col>
                <label class="checkbox checkbox-outline-success"
                  ><input
                    type="checkbox"
                    v-model="has_contact"
                    :checked="has_contact"/><span>Agregar Contacto?</span
                  ><span class="checkmark"></span
                ></label>
              </b-col>
              <!-- <b-col>
                <label class="checkbox checkbox-outline-success"
                  ><input
                    type="checkbox"
                    v-model="multipleUnit"
                    :checked="multipleUnit"/><span>Multiples Unidades</span
                  ><span class="checkmark"></span
                ></label>
              </b-col> -->
            </b-row>
          </b-col>
        </b-row>
      </b-col>
      <b-col md="12">
        <b-tabs
          v-if="has_contact"
          active-nav-item-class="nav nav-tabs"
          content-class=""
        >
          <b-tab title="" v-if="has_contact">
            <template slot="title">
              <i class="i-Download ul-tab__icon text-success mr-1"> </i>
              Contacto
            </template>
            <b-row>
              <b-col md="4" class="mb-3">
                <p class="font-weight-400 mb-2">
                  {{ $t("Nombre Contacto")
                  }}<span class="text-danger font-weight-bolder">*</span>
                </p>
                <b-form-input
                  :class="[
                    'form-control',
                    { 'is-invalid': this.errorFor('contact_name') }
                  ]"
                  v-model.trim="contact_name"
                />
                <b-alert
                  v-for="(error, key) in errorFor('contact_name')"
                  :key="key"
                  show
                  variant="danger"
                  class="error col-md-12 mt-1"
                  >{{ error }}</b-alert
                >
              </b-col>
              <b-col md="4" class="mb-3">
                <p class="font-weight-400 mb-2">
                  {{ $t("Celular Contacto") }}
                </p>
                <b-form-input
                  :class="[
                    'form-control',
                    { 'is-invalid': this.errorFor('contact_cellphone') }
                  ]"
                  v-model.trim="contact_cellphone"
                  type="number"
                />
                <b-alert
                  v-for="(error, key) in errorFor('contact_cellphone')"
                  :key="key"
                  show
                  variant="danger"
                  class="error col-md-12 mt-1"
                  >{{ error }}</b-alert
                >
              </b-col>
              <b-col md="4" class="mb-3">
                <p class="font-weight-400 mb-2">
                  {{ $t("Teléfono Contacto") }}
                </p>
                <b-form-input
                  :class="[
                    'form-control',
                    { 'is-invalid': this.errorFor('contact_phone') }
                  ]"
                  v-model.trim="contact_phone"
                  type="number"
                />
                <b-alert
                  v-for="(error, key) in errorFor('contact_phone')"
                  :key="key"
                  show
                  variant="danger"
                  class="error col-md-12 mt-1"
                  >{{ error }}</b-alert
                >
              </b-col>
            </b-row>
          </b-tab>
        </b-tabs>
      </b-col>
    </b-form>
    <div slot="modal-footer" class="w-100">
      <b-button v-if="action == 1" variant="primary" @click="onSubmit">
        {{ $t("Guardar") }}
      </b-button>
      <b-button v-if="action == 2" variant="primary" @click="onUpdate">
        {{ $t("Actualizar") }}
      </b-button>
      <b-button variant="default" @click="cancelar">{{
        $t("Cancelar")
      }}</b-button>
    </div>
  </b-modal>
</template>
<script>
import { Axios, Server } from "@/data/config";

export default {
  data() {
    return {
      server: Server,
      inventoried: false,
      file: null,
      state_id: 1,
      address: null,
      rnc: null,
      phone: null,
      contact_phone: null,
      cellphone: null,
      contact_cellphone: null,
      email: null,
      card: null,
      credit_limit: null,
      has_contact: false,
      previewImg: null,
      name: null,
      contact_name: null,
      id: null,
      status: null,
      errors: [],
      hasImage: false,
      image: null,
      submitStatus: null
    };
  },
  computed: {
    hasErrors() {
      return 422 === this.status && this.errors !== null;
    },
    sellPrice() {
      if (this.rate_id) {
        return (
          Number(
            this.base_price *
              (this.rates.filter(x => x.value == this.rate_id)[0].rate / 100)
          ) + Number(this.base_price)
        );
      }
      return 0;
    }
  },
  props: {
    supplier: Object,
    action: Number
  },
  created() {
    this.$root.$on("bv::modal::show", () => {
      if (this.supplier && this.action == 2) {
        this.id = this.supplier.id;
        this.name = this.supplier.name;
        this.address = this.supplier.address;
        this.state_id = this.supplier.state_id;
        this.phone = this.supplier.phone;
        this.cellphone = this.supplier.cellphone;
        this.rnc = this.supplier.rnc;
        this.has_contact = this.supplier.has_contact;
        this.credit_limit = this.supplier.credit_limit;
        this.card = this.supplier.card;
        this.email = this.supplier.email;
        this.contact_name = this.supplier.contact_name;
        this.contact_phone = this.supplier.contact_phone;
        this.contact_cellphone = this.supplier.contact_cellphone;

        const img = document.createElement("img");
        img.classList.add("obj");
        img.src = this.server + this.supplier.image;
        this.previewImg = img;
        setTimeout(() => {
          this.$refs.preview.appendChild(img);
        }, 0.5);
      }
    });
    this.$root.$on("bv::modal::hidden", () => {
      this.onReset();
    });
  },
  watch: {
    file(val) {
      if (!val) return;
      if (this.previewImg) {
        this.previewImg.remove();
      }
      const img = document.createElement("img");
      img.classList.add("obj");
      img.file = this.file;
      this.previewImg = img;
      this.$refs.preview.appendChild(img);

      this.hasImage = true;

      const fileReader = new FileReader();
      fileReader.onload = e => {
        this.previewImg.src = e.target.result;
        // console.log(e.target.result);
      };
      fileReader.readAsDataURL(this.file);
    }
  },

  methods: {
    deleteImage() {
      this.previewImg.remove();
      this.previewImg = null;
      this.file = null;
      if (this.action == 2) {
        Axios.get("api/suppliers/deleteImage/" + this.id);
      }
    },
    openImage() {
      let v = document.getElementById("file");
      v.click();
    },
    onSubmit() {
      let img = this.previewImg ? this.previewImg.src.split(",")[1] : null;

      Axios.post("api/suppliers", {
        name: this.name,
        address: this.address,
        image: img,
        state_id: this.state_id,
        phone: this.phone,
        cellphone: this.cellphone,
        rnc: this.rnc,
        has_contact: this.has_contact,
        card: this.card,
        email: this.email,
        contact_name: this.contact_name,
        contact_cellphone: this.contact_cellphone,
        contact_phone: this.contact_phone
      })
        .then(response => {
          if (response.status == 200) {
            this.$bvToast.toast(this.$t("Suplidor Agregada"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
            this.cancelar();
            this.$emit("saved", response.data);
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.errors = error.response.data.error;
              this.status = 422;
              this.$bvToast.toast("Error de Datos", {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    onUpdate() {
      let img =
        this.previewImg && this.hasImage
          ? this.previewImg.src.split(",")[1]
          : null;
      Axios.put("/api/suppliers/" + this.id, {
        name: this.name,
        address: this.address,
        image: img,
        state_id: this.state_id,
        phone: this.phone,
        cellphone: this.cellphone,
        rnc: this.rnc,
        has_contact: this.has_contact,
        card: this.card,
        email: this.email,
        contact_name: this.contact_name,
        contact_cellphone: this.contact_cellphone,
        contact_phone: this.contact_phone
      })
        .then(response => {
          if (response.status == 200) {
            this.$bvToast.toast(this.$t("Suplidor Actualizado"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
            this.cancelar();
            this.$emit("saved", response.data);
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.errors = error.response.data.error;
              this.status = 422;
              this.$bvToast.toast("Error de Datos", {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    errorFor(field) {
      return this.errors[field] ? this.errors[field] : null;
    },
    onReset() {
      this.name = null;
      this.address = null;
      this.state_id = 1;
      this.errors = [];
      this.has_contact = false;
      this.contact_phone = null;
      this.contact_cellphone = null;
      this.contact_name = null;
      this.phone = null;
      this.cellphone = null;
      this.rnc = null;
      this.card = null;
      this.email = null;
    },
    cancelar() {
      this.$bvModal.hide("modal-lg");
      this.onReset();
    }
  }
};
</script>
<style>
.modal-xxl {
  max-width: 100%;
  width: 80%;
  margin: auto;
  margin-top: 10vh;
}
</style>
