<template>
  <div class="main-content">
    <breadcumb
      :page="$t('Cuentas Por Cobrar')"
      :folder="$t('Ingresos')"
      :route="$t('Listado')"
    />

    <b-card class="wrapper">
      <div class="col text-right">
        <router-link
          tag="a"
          to="/app/income/invoice/add"
          class="btn btn-primary ripple m-1"
        >
          Agregar
        </router-link>

        <vue-good-table
          :columns="columns"
          :search-options="{
            enabled: true,
            placeholder: $t('Filtrar Cuentas por Cobrar')
          }"
          :pagination-options="{
            enabled: true,
            mode: 'records'
          }"
          :group-options="{
            enabled: true,
            collapsable: true,
            headerPosition: 'top'
          }"
          styleClass="tableOne vgt-table"
          :rows="rows"
        >
          <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'accion'">
              <span
                ><a
                  target="blanc"
                  :href="server + 'api/getPdfInvoice/' + props.row.id"
                  style="cursor:pointer"
                  ><i class="i-File-Word text-25 text-success mr-2"></i> </a
                ><a @click="deleteF(props.row.id)" style="cursor:pointer"
                  ><i class="i-Close-Window text-25 text-danger"></i> </a
              ></span>
            </span>
            <span v-else-if="props.column.field == 'state_id'">
              <a
                href="#"
                v-if="props.row.state_id === 1"
                target="_self"
                class="badge badge-success p-2 m-1 badge-pill"
                >Activa</a
              >
              <a
                href="#"
                v-if="props.row.state_id === 2"
                target="_self"
                class="badge badge-danger p-2 m-1 badge-pill"
                >Inactiva</a
              >
            </span>
            <span v-else-if="props.column.field == 'remaining_amount'">
              {{ props.row.remaining_amount | currency("") }}
            </span>
          </template>
        </vue-good-table>
      </div>
    </b-card>
  </div>
</template>

<script>
import { Axios, Server } from "@/data/config";

export default {
  metaInfo: {
    title: "Listado de Facturas"
  },
  data() {
    return {
      editCategory: {
        name: null,
        description: null,
        image: null
      },
      server: Server,
      action: 1,
      columns: [
        {
          label: "Cliente",
          field: "name",
          sortable: true
        },
        {
          label: "Factura Número",
          field: "invoice_number",
          sortable: true
        },
        {
          label: "Monto Original",
          field: "original_amount",
          type: "String"
        },
        {
          label: "Monto Pagado",
          field: "amount_paid",
          type: "String",
          sortable: false
        },
        {
          label: "Deuda Restante",
          field: "remaining_amount",
          type: "String",
          thClass: "text-right",
          tdClass: "text-right",
          sortable: false
        },
        {
          label: "Estado",
          field: "state",
          type: "String",
          thClass: "text-center",
          tdClass: "text-center",
          sortable: false,
          filterOptions: {
            enabled: true, // enable filter for this column
            placeholder: "Todos", // placeholder for filter input
            filterValue: null, // initial populated value for this filter
            filterDropdownItems: ["Pendiente", "Pagada", "Cancelada"], // dropdown (with selected values) instead of text input
            filterFn: this.columnFilterFn, //custom filter function that
            trigger: "enter" //only trigger on enter not on keyup
          }
        },
        {
          label: "Acción",
          field: "accion",
          html: true,
          thClass: "text-right",
          tdClass: "text-right",
          sortable: false
        }
      ],
      rows: []
    };
  },
  props: {
    success: Boolean
  },

  methods: {
    deleteF(data) {
      this.$swal({
        title: "Está seguro desea eliminar el cliente?",
        text: "No podrá recuperarla!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Borrar!"
      }).then(result => {
        if (result.value) {
          //this.$swal("Borrada!", "Categoria Eliminada.", "success");
          this.deleteClient(data);
        }
      });
    },

    deleteClient(data) {
      Axios.delete("api/invoices/" + data)
        .then(response => {
          if (response.status == 200) {
            this.rows = response.data;
            this.$bvToast.toast(this.$t("Factura eliminado"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.$bvToast.toast(error.response.data.error, {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    }
  },
  async created() {
    const clients = await Axios.get("/api/accountreceivables");
    this.rows = clients.data;
  }
};
</script>
<style></style>
