<template>
  <b-modal id="modal-lg" size="lg" title="Horarios">
    <b-form @submit="onSubmit" @reset="onReset" class="row" autocomplet="off">
      <b-col md="12" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Nombre") }}</p>
        <b-form-input
          :class="['form-control', { 'is-invalid': this.errorFor('name') }]"
          v-model.trim="name"
        />
        <b-alert
          v-for="(error, key) in errorFor('name')"
          :key="key"
          show
          variant="danger"
          class="error col-md-12 mt-1"
          >{{ error }}</b-alert
        >
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Hora Entrada") }}</p>
        <the-mask
          class="form-control"
          :mask="['##:##']"
          placeholder="08:00"
          :class="[
            'form-control',
            { 'is-invalid': this.errorFor('entry_time') }
          ]"
          v-model.trim="entry_time"
        />
        <b-alert
          v-for="(error, key) in errorFor('entry_time')"
          :key="key"
          show
          variant="danger"
          class="error col-md-12 mt-1"
          >{{ error }}</b-alert
        >
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Hora Salida") }}</p>
        <the-mask
          :mask="['##:##']"
          placeholder="05:00"
          :class="[
            'form-control',
            { 'is-invalid': this.errorFor('departure_time') }
          ]"
          v-model.trim="departure_time"
        />
        <b-alert
          v-for="(error, key) in errorFor('departure_time')"
          :key="key"
          show
          variant="danger"
          class="error col-md-12 mt-1"
          >{{ error }}</b-alert
        >
      </b-col>
      <b-col md="12" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Estado") }}</p>

        <b-form-select
          v-model="state_id"
          :options="{ '1': 'Activo', '2': 'Inactivo' }"
          id="inline-form-custom-select-pref"
        >
        </b-form-select>
      </b-col>
    </b-form>
    <div slot="modal-footer" class="w-100">
      <b-button v-if="action == 1" variant="primary" @click="onSubmit">{{
        $t("Guardar")
      }}</b-button>
      <b-button v-if="action == 2" variant="primary" @click="onUpdate">{{
        $t("Actualizar")
      }}</b-button>
      <b-button variant="default" @click="cancelar">
        {{ $t("Cancelar") }}
      </b-button>
    </div>
  </b-modal>
</template>
<script>
import { Axios } from "@/data/config";

export default {
  data() {
    return {
      name: null,
      state_id: 1,
      id: null,
      entry_time: null,
      departure_time: null,
      description: null,
      status: null,
      errors: [],
      base_salary: null,
      submitStatus: null
    };
  },
  components: {},

  computed: {
    hasErrors() {
      return 422 === this.status && this.errors !== null;
    }
  },
  props: {
    category: Object,
    action: Number
  },
  created() {
    this.$root.$on("bv::modal::show", () => {
      if (this.category && this.action == 2) {
        this.id = this.category.id;
        this.name = this.category.name;
        this.entry_time = this.category.entry_time;
        this.departure_time = this.category.departure_time;
        this.state_id = this.category.state_id;
      }
    });
    this.$root.$on("bv::modal::hidden", () => {
      this.onReset();
    });
  },
  methods: {
    onSubmit() {
      Axios.post("api/schedules", {
        name: this.name,
        entry_time: this.entry_time + "00",
        departure_time: this.departure_time + "00",
        description: this.description,
        state_id: this.state_id
      })
        .then(response => {
          if (response.status == 200) {
            this.$bvToast.toast(this.$t("Horario Agregado"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
            this.cancelar();
            this.$emit("saved", response.data);
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              console.log(error.response.data.errors);
              this.errors = error.response.data.error;
              this.status = 422;
              this.$bvToast.toast("Error de Datos", {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    onUpdate() {
      Axios.put("/api/schedules/" + this.id, {
        name: this.name,
        entry_time: this.entry_time + "00",
        departure_time: this.departure_time + "00",
        description: this.description,
        state_id: this.state_id
      })
        .then(response => {
          if (response.status == 200) {
            this.$bvToast.toast(this.$t("Horario Actualizado"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
            this.cancelar();
            this.$emit("saved", response.data);
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.errors = error.response.data.error;
              this.status = 422;
              this.$bvToast.toast("Error de Datos", {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    errorFor(field) {
      return this.errors[field] ? this.errors[field] : null;
    },
    onReset() {
      this.name = "";
      this.entry_time = null;
      this.departure_time = null;
      this.description = null;
      this.state_id = 1;
      this.status = null;
      this.errors = [];
    },
    cancelar() {
      this.$bvModal.hide("modal-lg");
      this.onReset();
    }
  }
};
</script>
<style></style>
