<template>
  <div class="main-content">
    <breadcumb
      :page="$t('Reporte de Gastos')"
      :folder="$t('Reportes')"
      :route="$t('Gastos')"
    />

    <b-card class="wrapper">
      <div v-if="filter" class="">
        <b-form
          @submit="onSubmit"
          @reset="onReset"
          class="row"
          enctype="multipart/form-data"
          autocomplet="off"
        >
          <b-col md="12">
            <b-row>
              <b-col md="6" class="mb-3">
                <p class="font-weight-400 mb-2">
                  {{ $t("Fecha Desde")
                  }}<span class="text-danger font-weight-bolder">*</span>
                </p>
                <b-form-input
                  :class="[
                    'form-control',
                    { 'is-invalid': this.errorFor('form.date_start') }
                  ]"
                  v-model="form.date_start"
                  type="date"
                  id="date"
                />
                <b-alert
                  v-for="(error, key) in errorFor('data.date_start')"
                  :key="key"
                  show
                  variant="danger"
                  class="error col-md-12 mt-1"
                  >{{ error }}</b-alert
                >
              </b-col>
              <b-col md="6" class="mb-3">
                <p class="font-weight-400 mb-2">
                  {{ $t("Fecha Hasta")
                  }}<span class="text-danger font-weight-bolder">*</span>
                </p>
                <b-form-input
                  :class="[
                    'form-control',
                    { 'is-invalid': this.errorFor('form.date_end') }
                  ]"
                  v-model="form.date_end"
                  type="date"
                  id="date"
                />
                <b-alert
                  v-for="(error, key) in errorFor('data.date_end')"
                  :key="key"
                  show
                  variant="danger"
                  class="error col-md-12 mt-1"
                  >{{ error }}</b-alert
                >
              </b-col>
              <b-col md="6" class="mb-3">
                <p class="font-weight-400 mb-2">
                  {{ $t("Tipo Gastos") }}
                </p>
                <v-select
                  multiple
                  v-model="form.expense_type_id"
                  :options="clients"
                  label="name"
                  placeholder="Todos"
                ></v-select>
              </b-col>
              <b-col md="6" class="mb-3">
                <p class="font-weight-400 mb-2">
                  {{ $t("Formas de Pago") }}
                </p>
                <v-select
                  multiple
                  v-model="form.payment_method_id"
                  :options="employees"
                  label="name"
                  placeholder="Todos"
                ></v-select>
              </b-col>
              <b-col md="12" class="mb-3">
                <p class="font-weight-400 mb-2">{{ $t("Estado") }}</p>

                <b-form-select
                  v-model="form.state"
                  :options="{ '0': 'Todos', '1': 'Activo', '2': 'Inactivo' }"
                  id="inline-form-custom-select-pref"
                >
                </b-form-select>
              </b-col>
            </b-row>
            <b-button variant="primary" @click="onSubmit">{{
              $t("Ver")
            }}</b-button>

            <b-button variant="default" @click="cancelar">
              {{ $t("Cancelar") }}
            </b-button>
          </b-col>
        </b-form>
      </div>
      <div v-else class="print">
        <b-button class="m-3" variant="primary" @click="filter = true">
          <i class="i-Arrow-Back-3"></i> {{ $t("Volver al Filtro") }}</b-button
        >
        <b-button @click="generatePDF" variant="danger">PDF</b-button>
        <vue-good-table
          :columns="columns"
          :search-options="{
            enabled: false,
            placeholder: $t('Filtrar Factura')
          }"
          :pagination-options="{
            enabled: false,
            mode: 'records'
          }"
          styleClass="tableOne vgt-table"
          :rows="rows"
        >
          <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'total'">
              {{ props.row.total | currency("") }}
            </span>
          </template>
        </vue-good-table>
        <p class="text-right p-2">
          <strong>Total: </strong> {{ totalExpense | currency("") }}
        </p>
      </div>
    </b-card>
  </div>
</template>

<script>
import { Axios, Server } from "@/data/config";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import jsPDF from "jspdf";
import "jspdf-autotable";

export default {
  data() {
    return {
      server: Server,
      clients: [],
      errors: [],
      employees: [],
      filter: true,
      form: {
        date_start: null,
        date_end: null,
        state: 0,
        expense_type_id: null,
        payment_method_id: null
      },
      option: {
        html2canvas: {
          scale: 1,
          useCORS: true
        }
      },
      columns: [
        {
          label: "Código Gasto",
          field: "number",
          sortable: true
        },
        {
          label: "Tipo Gasto",
          field: "expense_type",
          type: "String"
        },
        {
          label: "Método de Pago",
          field: "payment_method",
          type: "String",
          sortable: false
        },
        {
          label: "Fecha",
          field: "date",
          type: "date",
          dateInputFormat: "yyyy-mm-dd",
          dateOutputFormat: "dd-mm-Y"
        },
        {
          label: "Estado",
          field: "state",
          type: "String",
          sortable: false,
          thClass: "text-right",
          tdClass: "text-right"
        },
        {
          label: "Monto",
          field: "total",
          type: "String",
          thClass: "text-right",
          tdClass: "text-right",
          sortable: false
        }

      ],
      rows: []
    };
  },
  components: {
    vSelect
  },
  async created() {
    const clients = await Axios.get("/api/aexpensetypes");
    this.clients = clients.data;

    const employees = await Axios.get("/api/apaymentmethods");
    this.employees = employees.data;
  },
  computed: {
    totalExpense() {
      return this.rows
        .map(x => x.total)
        .reduce((a, b) => {
          return Number(a) + Number(b);
        }, 0);
    }
  },
  methods: {
    generatePDF() {
      const doc = new jsPDF(("p", "pt"));

      // var image = "http://127.0.0.1:8000/images/default/product.png;"

      //   var img = new Image();
      //   img.src = Server + "images/default/product.png";
      //   doc.addImage(img, "png", 10, 78, 12, 15);

      // doc.addImage(image, "png", 15, 40, 180, 180);

      doc.text("Reporte de Gastos", 80, 20);
      doc.setFontSize(10);
      doc.setTextColor(40);
      doc.text(
        "Desde: " + this.form.date_start + " Hasta: " + this.form.date_end,
        73,
        25
      );

      doc.autoTable({
        body: this.rows,
        // theme: "plain",
        margin: {
          top: 40
        },
        columnStyles: { 5: { halign: "right" } },
        columns: [
          { header: "Código Gasto", dataKey: "number" },
          { header: "Tipo Gasto", dataKey: "expense_type" },
          { header: "Método de Pago", dataKey: "payment_method" },
          { header: "Fecha", dataKey: "date" },
          { header: "Estado", dataKey: "state" },
          { header: "Monto", dataKey: "total" }
        ]
      });

      doc.text(
        "Total: " + parseFloat(this.totalExpense).toFixed(2),
        170,
        doc.lastAutoTable.finalY + 10
      );

      //return doc;

      window.open(doc.output("bloburl"));

      //doc.save("table.pdf");
    },
    onSubmit() {
      Axios.post("/api/reports/expenses", { data: this.form })
        .then(response => {
          this.rows = response.data;
          this.filter = false;
          this.errors = [];
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.errors = error.response.data.error;
              this.status = 422;
              this.$bvToast.toast("Error de Datos", {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    errorFor(field) {
      return this.errors[field] ? this.errors[field] : null;
    },
    onReset() {
      this.form.date_start = null;
      this.form.date_end = null;
      this.errors = [];
    },
    cancelar() {
      this.onReset();
    }
  }
};
</script>

<style></style>
