<template>
  <div class="main-content">
    <breadcumb
      :page="$t('Reporte de Ingresos y Gastos')"
      :folder="$t('Reportes')"
      :route="$t('Ventas')"
    />

    <b-card class="wrapper">
      <div v-if="filter" class="">
        <b-form
          @submit="onSubmit"
          @reset="onReset"
          class="row"
          enctype="multipart/form-data"
          autocomplet="off"
        >
          <b-col md="12">
            <b-row>
              <b-col md="6" class="mb-3">
                <p class="font-weight-400 mb-2">
                  {{ $t("Fecha Desde")
                  }}<span class="text-danger font-weight-bolder">*</span>
                </p>
                <b-form-input
                  :class="[
                    'form-control',
                    { 'is-invalid': this.errorFor('form.date_start') }
                  ]"
                  v-model="form.date_start"
                  type="date"
                  id="date"
                />
                <b-alert
                  v-for="(error, key) in errorFor('data.date_start')"
                  :key="key"
                  show
                  variant="danger"
                  class="error col-md-12 mt-1"
                  >{{ error }}</b-alert
                >
              </b-col>
              <b-col md="6" class="mb-3">
                <p class="font-weight-400 mb-2">
                  {{ $t("Fecha Hasta")
                  }}<span class="text-danger font-weight-bolder">*</span>
                </p>
                <b-form-input
                  :class="[
                    'form-control',
                    { 'is-invalid': this.errorFor('form.date_end') }
                  ]"
                  v-model="form.date_end"
                  type="date"
                  id="date"
                />
                <b-alert
                  v-for="(error, key) in errorFor('data.date_end')"
                  :key="key"
                  show
                  variant="danger"
                  class="error col-md-12 mt-1"
                  >{{ error }}</b-alert
                >
              </b-col>
            </b-row>
            <b-button variant="primary" @click="onSubmit">{{
              $t("Ver")
            }}</b-button>

            <b-button variant="default" @click="cancelar">
              {{ $t("Cancelar") }}
            </b-button>
          </b-col>
        </b-form>
      </div>
      <div v-else class="print">
        <b-button class="m-3" variant="primary" @click="filter = true">
          <i class="i-Arrow-Back-3"></i> {{ $t("Volver al Filtro") }}</b-button
        >
        <b-button @click="generatePDF" variant="danger">PDF</b-button>

        <b-row>
          <b-col>
            <b-card>
              <vue-good-table
                :columns="columns"
                :search-options="{
                  enabled: false,
                  placeholder: $t('Filtrar Factura')
                }"
                :pagination-options="{
                  enabled: false,
                  mode: 'records'
                }"
                styleClass="tableOne vgt-table"
                :rows="sells"
              >
                <template slot="table-row" slot-scope="props">
                  <span v-if="props.column.field == 'accion'">
                    <span
                      ><a style="cursor:pointer" @click="print(props.row.id)"
                        ><i
                          class="i-File-Word text-25 text-success mr-2"
                        ></i> </a
                      ><a @click="deleteF(props.row.id)" style="cursor:pointer"
                        ><i class="i-Close-Window text-25 text-danger"></i> </a
                    ></span>
                  </span>
                  <span v-else-if="props.column.field == 'state_id'">
                    <a
                      href="#"
                      v-if="props.row.state_id === 1"
                      target="_self"
                      class="badge badge-success p-2 m-1 badge-pill"
                      >Activa</a
                    >
                    <a
                      href="#"
                      v-if="props.row.state_id === 3"
                      target="_self"
                      class="badge badge-danger p-2 m-1 badge-pill"
                      >Anulada</a
                    >
                  </span>
                  <span v-else-if="props.column.field == 'total'">
                    {{ props.row.total | currency("") }}
                  </span>
                </template>
              </vue-good-table>
              <p class="text-right p-2">
                <strong>Total Ingresos: </strong>
                {{ totalIncomes | currency("") }}
              </p>
            </b-card>
          </b-col>
          <b-col>
            <b-card>
              <vue-good-table
                :columns="columnsTwo"
                :search-options="{
                  enabled: false,
                  placeholder: $t('Filtrar Factura')
                }"
                :pagination-options="{
                  enabled: false,
                  mode: 'records'
                }"
                styleClass="tableOne vgt-table"
                :rows="expenses"
              >
                <template slot="table-row" slot-scope="props">
                  <span v-if="props.column.field == 'accion'">
                    <span
                      ><a style="cursor:pointer" @click="print(props.row.id)"
                        ><i
                          class="i-File-Word text-25 text-success mr-2"
                        ></i> </a
                      ><a @click="deleteF(props.row.id)" style="cursor:pointer"
                        ><i class="i-Close-Window text-25 text-danger"></i> </a
                    ></span>
                  </span>
                  <span v-else-if="props.column.field == 'state_id'">
                    <a
                      href="#"
                      v-if="props.row.state_id === 1"
                      target="_self"
                      class="badge badge-success p-2 m-1 badge-pill"
                      >Activa</a
                    >
                    <a
                      href="#"
                      v-if="props.row.state_id === 3"
                      target="_self"
                      class="badge badge-danger p-2 m-1 badge-pill"
                      >Anulada</a
                    >
                  </span>
                  <span v-else-if="props.column.field == 'total'">
                    {{ props.row.total | currency("") }}
                  </span>
                </template>
              </vue-good-table>
              <p class="text-right p-2">
                <strong>Total Gastos: </strong>
                {{ totalExpenses | currency("") }}
              </p>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import { Axios, Server } from "@/data/config";
import "vue-select/dist/vue-select.css";
import jsPDF from "jspdf";
import "jspdf-autotable";

export default {
  data() {
    return {
      server: Server,
      filter: true,
      errors: [],
      form: {
        date_start: null,
        date_end: null
      },
      option: {
        html2canvas: {
          scale: 1,
          useCORS: true
        }
      },
      columns: [
        {
          label: "Ingresos",
          field: "incomes",
          sortable: false
        },

        {
          label: "Monto",
          field: "total",
          type: "String",
          thClass: "text-right",
          tdClass: "text-right",
          sortable: false
        }
      ],
      columnsTwo: [
        {
          label: "Gastos",
          field: "expenses",
          sortable: false
        },

        {
          label: "Monto",
          field: "total",
          type: "String",
          thClass: "text-right",
          tdClass: "text-right",
          sortable: false
        }
      ],
      rows: [],
      sells: [],
      expenses: []
    };
  },
  computed: {
    totalIncomes() {
      return this.sells
        .map(x => x.total)
        .reduce((a, b) => {
          return Number(a) + Number(b);
        }, 0);
    },
    totalExpenses() {
      return this.expenses
        .map(x => x.total)
        .reduce((a, b) => {
          return Number(a) + Number(b);
        }, 0);
    }
  },
  methods: {
    generatePDF() {
      const doc = new jsPDF(("p", "pt"));

      // var image = "http://127.0.0.1:8000/images/default/product.png;"

      //   var img = new Image();
      //   img.src = Server + "images/default/product.png";
      //   doc.addImage(img, "png", 10, 78, 12, 15);

      // doc.addImage(image, "png", 15, 40, 180, 180);

      doc.text("Reporte de Ingresos y Gastos", 70, 20);
      doc.setFontSize(10);
      doc.setTextColor(40);
      doc.text(
        "Desde: " + this.form.date_start + " Hasta: " + this.form.date_end,
        75,
        25
      );

      doc.autoTable({
        body: this.sells,
        startY: 40,
        margin: { right: 110 },
        showHead: "firstPage",
        columnStyles: { 1: { halign: "right" } },
        columns: [
          { header: "Ingresos", dataKey: "incomes" },
          { header: "Monto", dataKey: "total" }
        ]
      });

      doc.text(
        "Total: " + parseFloat(this.totalIncomes).toFixed(2),
        75,
        doc.lastAutoTable.finalY + 10
      );

      doc.autoTable({
        body: this.expenses,
        startY: 40,
        margin: { left: 110 },
        showHead: "firstPage",
        columnStyles: { 1: { halign: "right" } },
        columns: [
          { header: "Gastos", dataKey: "expenses" },
          { header: "Monto", dataKey: "total" }
        ]
      });

      doc.text(
        "Total: " + parseFloat(this.totalExpenses).toFixed(2),
        170,
        doc.lastAutoTable.finalY + 10
      );

      //return doc;

      window.open(doc.output("bloburl"));

      //doc.save("table.pdf");
    },
    onSubmit() {
      Axios.post("/api/reports/incomesexpenses", { data: this.form })
        .then(response => {
          this.sells = response.data.sells;
          this.expenses = response.data.expenses;
          this.filter = false;
          this.errors = [];
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.errors = error.response.data.error;
              this.status = 422;
              this.$bvToast.toast("Error de Datos", {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    errorFor(field) {
      return this.errors[field] ? this.errors[field] : null;
    },
    onReset() {
      this.form.date_start = null;
      this.form.date_end = null;
      this.errors = [];
    },
    cancelar() {
      this.onReset();
    }
  }
};
</script>

<style></style>
