<template>
  <div class="main-content">
    <breadcumb
      :page="$t('Empresa')"
      :folder="$t('Secuencias')"
      :route="$t('Listado')"
    />

    <b-card class="wrapper">
      <div class="col text-right">
        <vue-good-table
          :columns="columns"
          :search-options="{
            enabled: true,
            placeholder: $t('Filtrar Secuencias')
          }"
          :pagination-options="{
            enabled: true,
            mode: 'records'
          }"
          styleClass="tableOne vgt-table"
          :rows="rows"
        >
          <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'accion'">
              <span
                ><a @click="editF(props.row)" style="cursor:pointer"
                  ><i class="i-Eraser-2 text-25 text-success mr-2"></i> </a
              ></span>
            </span>
            <span v-else-if="props.column.field == 'state_id'">
              <a
                href="#"
                v-if="props.row.state_id === 1"
                target="_self"
                class="badge badge-success p-2 m-1 badge-pill"
                >Activa</a
              >
              <a
                href="#"
                v-if="props.row.state_id === 2"
                target="_self"
                class="badge badge-danger p-2 m-1 badge-pill"
                >Inactiva</a
              >
            </span>
          </template>
        </vue-good-table>
      </div>
    </b-card>
    <modal
      @saved="updateData"
      :category="editCategory"
      :action="action"
      @close="resetUnitData"
    ></modal>
  </div>
</template>

<script>
import { Axios } from "@/data/config";
import Modal from "./modalForm";

export default {
  metaInfo: {
    title: "Listado de Unidades"
  },
  components: {
    Modal
  },
  data() {
    return {
      editCategory: {
        name: null,
        code: null,
        state_id: 1
      },
      counters: [],
      action: 1,
      columns: [
        {
          label: "Documento",
          field: "document.name",
          type: "String"
        },
        {
          label: "Nombre",
          field: "name",
          type: "String"
        },
        {
          label: "Prefijo",
          field: "prefix",
          type: "String",
          sortable: false
        },
        {
          label: "Valor Actual",
          field: "value",
          type: "String",
          sortable: false
        },
        {
          label: "Valor Límite",
          field: "to",
          type: "String",
          sortable: false
        },
        {
          label: "Fecha Vencimiento",
          field: "due_date",
          type: "date",
          dateInputFormat: "yyyy-mm-dd",
          dateOutputFormat: "dd-mm-Y",
          sortable: false
        },
        {
          label: "Estado",
          field: "state_id",
          type: "String",
          sortable: false
        },

        {
          label: "Acción",
          field: "accion",
          html: true,
          thClass: "text-right",
          tdClass: "text-right",
          sortable: false
        }
      ],
      rows: []
    };
  },

  methods: {
    updateData(data) {
      //console.log(data)
      this.rows = data;
    },
    async editF(data) {
      await this.updateUnitData(data);
      this.showModal();
    },
    updateUnitData(data) {
      //console.log(data)
      this.editCategory = data;
      this.action = 2;
    },
    resetUnitData() {
      this.editCategory = {
        name: null,
        description: null
      };
      this.action = 1;
    },
    showModal() {
      this.$bvModal.show("modal-lg");
    },
    addUnit() {
      this.resetUnitData();
      setTimeout(() => {
        this.showModal();
      }, 0.5);
    }
  },
  async created() {
    const counters = await Axios.get("/api/counters");
    this.rows = counters.data;
  }
};
</script>
<style></style>
