<template>
  <b-modal id="modal-lg" size="lg" title="Agregar Unidades">
    <b-form
      @reset="onReset"
      class="row"
      enctype="multipart/form-data"
      autocomplet="off"
    >
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Nombre") }}</p>
        <b-form-input
          :class="['form-control', { 'is-invalid': this.errorFor('name') }]"
          v-model.trim="name"
        />
        <b-alert
          v-for="(error, key) in errorFor('name')"
          :key="key"
          show
          variant="danger"
          class="error col-md-12 mt-1"
          >{{ error }}</b-alert
        >
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Prefijo") }}</p>
        <b-form-input
          :class="['form-control', { 'is-invalid': this.errorFor('prefix') }]"
          v-model.trim="prefix"
        />
        <b-alert
          v-for="(error, key) in errorFor('prefix')"
          :key="key"
          show
          variant="danger"
          class="error col-md-12 mt-1"
          >{{ error }}</b-alert
        >
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Valor Actual") }}</p>
        <b-form-input
          :class="['form-control', { 'is-invalid': this.errorFor('value') }]"
          v-model.trim="value"
        />
        <b-alert
          v-for="(error, key) in errorFor('value')"
          :key="key"
          show
          variant="danger"
          class="error col-md-12 mt-1"
          >{{ error }}</b-alert
        >
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Valor Límite") }}</p>
        <b-form-input
          :class="['form-control', { 'is-invalid': this.errorFor('to') }]"
          v-model.trim="to"
        />
        <b-alert
          v-for="(error, key) in errorFor('to')"
          :key="key"
          show
          variant="danger"
          class="error col-md-12 mt-1"
          >{{ error }}</b-alert
        >
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Fecha Vencimiento") }}</p>
        <b-form-input
          :class="['form-control', { 'is-invalid': this.errorFor('due_date') }]"
          v-model.trim="due_date"
          type="date"
        />
        <b-alert
          v-for="(error, key) in errorFor('due_date')"
          :key="key"
          show
          variant="danger"
          class="error col-md-12 mt-1"
          >{{ error }}</b-alert
        >
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Estado") }}</p>

        <b-form-select
          v-model="state_id"
          :options="{ '1': 'Activo', '2': 'Inactivo' }"
          id="inline-form-custom-select-pref"
        >
        </b-form-select>
      </b-col>
    </b-form>
    <div slot="modal-footer" class="w-100">
      <b-button variant="primary" @click="onUpdate">{{
        $t("Actualizar")
      }}</b-button>
      <b-button variant="default" @click="cancelar">
        {{ $t("Cancelar") }}
      </b-button>
    </div>
  </b-modal>
</template>
<script>
import { Axios } from "@/data/config";

export default {
  data() {
    return {
      name: null,
      prefix: null,
      value: null,
      due_date: null,
      to: null,
      state_id: 1,
      id: null,
      status: null,
      errors: [],
      code: null,
      submitStatus: null
    };
  },
  components: {},

  computed: {
    hasErrors() {
      return 422 === this.status && this.errors !== null;
    }
  },
  props: {
    category: Object,
    action: Number
  },
  created() {
    this.$root.$on("bv::modal::show", () => {
      if (this.category && this.action == 2) {
        this.id = this.category.id;
        this.name = this.category.name;
        this.prefix = this.category.prefix;
        this.value = this.category.value;
        this.due_date = this.category.due_date;
        this.to = this.category.to;
        this.state_id = this.category.state_id;
      }
    });
    this.$root.$on("bv::modal::hidden", () => {
      this.onReset();
    });
  },
  methods: {
    onUpdate() {
      Axios.put("/api/counters/" + this.id, {
        name: this.name,
        prefix: this.prefix,
        value: this.value,
        to: this.to,
        due_date: this.due_date,
        state_id: this.state_id
      })
        .then(response => {
          if (response.status == 200) {
            this.$bvToast.toast(this.$t("Secuencia Actualizada"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
            this.cancelar();
            this.$emit("saved", response.data);
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.errors = error.response.data.error;
              this.status = 422;
              this.$bvToast.toast("Error de Datos", {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    errorFor(field) {
      return this.errors[field] ? this.errors[field] : null;
    },
    onReset() {
      this.name = null;
      this.code = null;
      this.status = null;
      this.errors = [];

      this.prefix = null;
      this.value = null;
      this.to = null;
      this.due_date = null;
      this.state_id = null;
    },
    cancelar() {
      this.$bvModal.hide("modal-lg");
      this.onReset();
    }
  }
};
</script>
<style></style>
