<template>
  <div class="main-content">
    <breadcumb
      :page="$t('Tipo de Gastos')"
      :folder="$t('Gastos')"
      :route="$t('Listado')"
    />

    <b-card class="wrapper">
      <div class="col text-right">
        <button
          type="button"
          @click="addExpenseType"
          class="btn btn-primary ripple m-1"
        >
          Agregar
        </button>
        <vue-good-table
          :columns="columns"
          :search-options="{
            enabled: true,
            placeholder: $t('Filtrar Tipo de gastos')
          }"
          :pagination-options="{
            enabled: true,
            mode: 'records'
          }"
          styleClass="tableOne vgt-table"
          :rows="rows"
        >
          <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'accion'">
              <span
                ><a @click="editF(props.row)" style="cursor:pointer"
                  ><i class="i-Eraser-2 text-25 text-success mr-2"></i>
                </a>
              </span>
            </span>
            <span v-else-if="props.column.field == 'state_id'">
              <a
                href="#"
                v-if="props.row.state_id === 1"
                target="_self"
                class="badge badge-success p-2 m-1 badge-pill"
                >Activa</a
              >
              <a
                href="#"
                v-if="props.row.state_id === 2"
                target="_self"
                class="badge badge-danger p-2 m-1 badge-pill"
                >Inactiva</a
              >
            </span>
          </template>
        </vue-good-table>
      </div>
    </b-card>
    <modal
      @saved="updateData"
      :category="editCategory"
      :action="action"
      @close="resetExpenseTypeData"
    ></modal>
  </div>
</template>

<script>
import { Axios } from "@/data/config";
import Modal from "./modalForm";

export default {
  metaInfo: {
    title: "Listado de Formas de Pagos"
  },
  components: {
    Modal
  },
  data() {
    return {
      editCategory: {
        name: null,
        code: null,
        state_id: 1
      },
      action: 1,
      columns: [
        {
          label: "Nombre",
          field: "name",
          type: "String"
        },
        {
          label: "Estado",
          field: "state_id",
          type: "String",
          sortable: false
        },

        {
          label: "Fecha Creación",
          field: "created_at",
          type: "date",
          dateInputFormat: "yyyy-mm-dd",
          dateOutputFormat: "dd-mm-Y"
        },
        {
          label: "Acción",
          field: "accion",
          html: true,
          thClass: "text-right",
          tdClass: "text-right",
          sortable: false
        }
      ],
      rows: []
    };
  },

  methods: {
    updateData(data) {
      this.rows = data;
    },
    deleteF(data) {
      this.$swal({
        title: "Está seguro desea eliminar el tipo de gasto?",
        text: "No podrá recuperarla!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Borrar!"
      }).then(result => {
        if (result.value) {
          //this.$swal("Borrada!", "Unidad Eliminada.", "success");
          this.deleteExpenseType(data);
        }
      });
    },
    async editF(data) {
      await this.updateExpenseTypeData(data);
      this.showModal();
    },
    updateExpenseTypeData(data) {
      this.editCategory = data;
      this.action = 2;
    },
    resetExpenseTypeData() {
      this.editCategory = {
        name: null,
        description: null,
        image: null
      };
      this.action = 1;
    },
    showModal() {
      this.$bvModal.show("modal-lg");
    },
    addExpenseType() {
      this.resetExpenseTypeData();
      setTimeout(() => {
        this.showModal();
      }, 0.5);
    },
    deleteExpenseType(data) {
      Axios.delete("api/expensetypes/" + data)
        .then(response => {
          if (response.status == 200) {
            this.rows = response.data;
            this.$bvToast.toast(this.$t("Tipo de Gasto eliminado"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.$bvToast.toast(error.response.data.error, {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    }
  },
  async created() {
    const expensetypes = await Axios.get("/api/expensetypes");
    this.rows = expensetypes.data;
  }
};
</script>
<style></style>
