<template>
  <div class="main-content">
    <breadcumb
      :page="$t('Pagos')"
      :folder="$t('Ingresos')"
      :route="$t('Listado')"
    />

    <b-card class="wrapper">
      <div class="col text-right">
        <button
          type="button"
          @click="addCategory"
          class="btn btn-primary ripple m-1"
        >
          Agregar
        </button>

        <vue-good-table
          :columns="columns"
          :search-options="{
            enabled: true,
            placeholder: $t('Filtrar Pagos')
          }"
          :pagination-options="{
            enabled: true,
            mode: 'records'
          }"
          styleClass="tableOne vgt-table"
          :rows="rows"
        >
          <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'accion'">
              <span
                ><a @click="print(props.row)"
                  ><i class="i-File-Word text-25 text-success mr-2"></i> </a
                ><a @click="deleteF(props.row.id)" style="cursor:pointer"
                  ><i class="i-Close-Window text-25 text-danger"></i> </a
              ></span>
            </span>
            <span v-else-if="props.column.field == 'state_id'">
              <a
                href="#"
                v-if="props.row.state_id === 1"
                target="_self"
                class="badge badge-success p-2 m-1 badge-pill"
                >Activa</a
              >
              <a
                href="#"
                v-if="props.row.state_id === 2"
                target="_self"
                class="badge badge-danger p-2 m-1 badge-pill"
                >Inactiva</a
              >
            </span>
          </template>
        </vue-good-table>
      </div>
    </b-card>
    <modal
      @saved="updateData"
      :category="editCategory"
      :action="action"
      @close="resetCategoryData"
    ></modal>
    <div>
      <vue-html2pdf
        :show-layout="false"
        :float-layout="true"
        :enable-download="false"
        :preview-modal="true"
        :paginate-elements-by-height="1400"
        filename="hee hee"
        :pdf-quality="2"
        :manual-pagination="false"
        pdf-format="a4"
        pdf-orientation="portrait"
        pdf-content-width="800px"
        @hasStartedGeneration="hasStartedGeneration()"
        @hasGenerated="hasGenerated($event)"
        ref="rPayment"
        :html-to-pdf-options="{
          html2canvas: { useCORS: true }
        }"
      >
        <section slot="pdf-content">
          <section class="pdf-item">
            <r-payment></r-payment>
          </section>
        </section>
      </vue-html2pdf>
    </div>
  </div>
</template>

<script>
import { Axios, Server } from "@/data/config";
import Modal from "./modalForm";
import VueHtml2pdf from "vue-html2pdf";
import rPayment from "./rPayment";
import { mapActions, mapMutations } from "vuex";

export default {
  metaInfo: {
    title: "Listado de Pagos"
  },
  components: {
    Modal,
    VueHtml2pdf,
    rPayment
  },
  data() {
    return {
      server: Server,
      editCategory: {
        name: null,
        description: null,
        image: null
      },
      action: 1,
      columns: [
        {
          label: "Código de Pago",
          field: "account_receivable_payment.id",
          type: "Number"
        },
        {
          label: "Número Factura",
          field: "invoice_number",
          type: "Number"
        },
        {
          label: "Cliente",
          field: "client.name",
          type: "String",
          sortable: false
        },
        {
          label: "Monto Original",
          field: "original_amount",
          type: "String",
          sortable: false
        },
        {
          label: "Balance Antes del Pago",
          field: "balance_before_payment",
          type: "String",
          sortable: false
        },
        {
          label: "Monto Pagado",
          field: "amount_paid",
          type: "String",
          sortable: false
        },
        {
          label: "Balance Depues del Pago",
          field: "balance_after_payment",
          type: "String",
          sortable: false
        },
        {
          label: "Nota",
          field: "account_receivable_payment.note",
          type: "String",
          sortable: false
        },
        {
          label: "Fecha Pago",
          field: "account_receivable_payment.date",
          type: "date",
          dateInputFormat: "yyyy-mm-dd",
          dateOutputFormat: "dd-mm-Y"
        },
        {
          label: "Acción",
          field: "accion",
          html: true,
          thClass: "text-right",
          tdClass: "text-right",
          sortable: false
        }
      ],
      rows: []
    };
  },

  methods: {
    addFile() {},
    updateData(data) {
      //console.log(data)
      this.rows = data;
    },
    ...mapMutations(["setPayment"]),
    ...mapActions(["getPayments"]),

    print(data) {
      let self = this;
      this.getPayments(data).then(() => {
        self.$refs.rPayment.generatePdf();
      });

      setTimeout(function() {}, 0.5);
    },
    deleteF(data) {
      this.$swal({
        title: "Está seguro desea eliminar la categoría?",
        text: "No podrá recuperarla!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Borrar!"
      }).then(result => {
        if (result.value) {
          //this.$swal("Borrada!", "Categoria Eliminada.", "success");
          this.deleteCategory(data);
        }
      });
    },
    async editF(data) {
      await this.updateCategoryData(data);
      this.showModal();
    },
    updateCategoryData(data) {
      this.editCategory = data;
      this.action = 2;
    },
    resetCategoryData() {
      this.editCategory = {
        name: null,
        description: null,
        image: null
      };
      this.action = 1;
      // console.log('cerrado')
    },
    showModal() {
      this.$bvModal.show("modal-lg");
    },
    addCategory() {
      this.resetCategoryData();
      setTimeout(() => {
        this.showModal();
      }, 0.5);
    }
  },
  async created() {
    const payments = await Axios.get("/api/accountreceivablepaymentdetails");
    this.rows = payments.data;
  }
};
</script>
<style></style>
