<template>
  <b-modal id="modal-lg" size="lg" title="Agregar Pagos">
    <b-form
      @submit="onSubmit"
      @reset="onReset"
      class="row"
      enctype="multipart/form-data"
      autocomplet="off"
    >
      <b-col md="12" class="mb-3">
        <p class="font-weight-400 mb-2">
          {{ $t("Cliente")
          }}<span class="text-danger font-weight-bolder">*</span>
        </p>

        <b-form-select
          @change="findDebts()"
          :class="[
            'form-control',
            { 'is-invalid': this.errorFor('client_id') }
          ]"
          v-model="client_id"
          :options="clientList"
          value-field="id"
          text-field="name"
          id="inline-form-custom-select-pref"
        ></b-form-select>
        <!-- <b-alert
                v-for="(error, key) in errorFor('client_id')"
                :key="key"
                show
                variant="danger"
                class="error col-md-12 mt-1"
                >{{ error }}</b-alert
              > -->
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">
          {{ $t("Método de pago")
          }}<span class="text-danger font-weight-bolder">*</span>
        </p>

        <b-form-select
          :class="[
            'form-control',
            { 'is-invalid': this.errorFor('payment_method_id') }
          ]"
          v-model="payment_method_id"
          :options="paymentMethods"
          value-field="id"
          text-field="name"
          id="inline-form-custom-select-pref"
        ></b-form-select>
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Monto") }}</p>
        <b-form-input
          :class="[
            'form-control',
            { 'is-invalid': this.errorFor('amount_paid') }
          ]"
          v-model.trim="amount_paid"
          type="number"
        />
        <b-alert
          v-for="(error, key) in errorFor('amount_paid')"
          :key="key"
          show
          variant="danger"
          class="error col-md-12 mt-1"
          >{{ error }}</b-alert
        >
      </b-col>
      <b-col class="text-right " v-if="acountsReceivables.length > 0">
        <b-button v-if="action == 1" variant="success" @click="applyAmount">{{
          $t("Distribuir Monto")
        }}</b-button>
        <b-button
          v-if="action == 1"
          variant="default"
          @click="
            amount_paid = null;
            findDebts();
          "
          >{{ $t("Limpiar") }}</b-button
        >
      </b-col>
      <b-col md="12" class="mb-3 mt-3" v-if="acountsReceivables.length > 0">
        <vue-good-table
          compactMode
          :columns="columns"
          styleClass="tableOne vgt-table"
          :rows="acountsReceivables"
          :line-numbers="true"
        >
          <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'original_amount'">
              {{ props.row.original_amount | currency("") }}
            </span>
            <span v-else-if="props.column.field == 'amount_paid'">
              {{ props.row.amount_paid | currency("") }}
            </span>
            <span v-else-if="props.column.field == 'balance_before_payment'">
              {{ props.row.balance_before_payment | currency("") }}
            </span>
            <span v-else-if="props.column.field == 'balance_after_payment'">
              {{ props.row.balance_after_payment | currency("") }}
            </span>
          </template>
        </vue-good-table>
      </b-col>
      <b-col
        md="12"
        class="mb-3 mt-3"
        v-if="client_id !== null && acountsReceivables.length < 1"
      >
        <p
          class="text-danger font-weight-bold text-center"
          style="font-size:18px"
        >
          Este cliente no tiene deudas pendientes
        </p>
      </b-col>
      <b-col md="12" class="mb-3 mt-3" v-if="client_id === null">
        <p
          class="text-danger font-weight-bold text-center"
          style="font-size:18px"
        >
          Seleccione un Cliente
        </p>
      </b-col>
      <b-col v-if="acountsReceivables.length > 0">
        <div>
          <p style="font-weight: 600;font-size: 18px;color: red;">
            Total Deuda: {{ totalDebt | currency("") }}
          </p>
        </div>
      </b-col>
    </b-form>
    <div slot="modal-footer" class="w-100">
      <b-button v-if="action == 1" variant="primary" @click="onSubmit">{{
        $t("Pagar")
      }}</b-button>
      <b-button variant="default" @click="cancelar">
        {{ $t("Cancelar") }}
      </b-button>
    </div>
  </b-modal>
</template>
<script>
import { Axios } from "@/data/config";

export default {
  data() {
    return {
      name: null,
      clientList: [],
      state: 1,
      client_id: null,
      amount_paid: null,
      id: null,
      status: null,
      errors: [],
      code: null,
      payment_method_id: 1,
      acountsReceivables: [],
      paymentMethods: [],
      submitStatus: null,
      columns: [
        {
          label: "Factura",
          field: "invoice",
          sortable: false
        },
        {
          label: "Monto Original",
          field: "original_amount",
          type: "decimal",
          sortable: false
        },
        {
          label: "Balance Antes del Pago",
          field: "balance_before_payment",
          type: "decimal",
          sortable: false
        },
        {
          label: "Monto",
          field: "amount_paid",
          type: "decimal",
          sortable: false
        },
        {
          label: "Balance Depues del Pago",
          field: "balance_after_payment",
          type: "decimal",
          sortable: false
        }
      ]
    };
  },
  components: {},

  computed: {
    hasErrors() {
      return 422 === this.status && this.errors !== null;
    },
    totalDebt() {
      return this.acountsReceivables
        .map(a => a.balance_before_payment)
        .reduce((a, b) => Number(a) + Number(b), 0);
    }
  },
  props: {
    category: Object,
    action: Number
  },
  // created() {
  //   this.$root.$on("bv::modal::show", () => {
  //     if (this.category && this.action == 2) {
  //       this.id = this.category.id;
  //       this.name = this.category.name;
  //       this.code = this.category.code;
  //       this.state = this.category.state_id;
  //     }
  //   });
  //   this.$root.$on("bv::modal::hidden", () => {
  //     this.onReset();
  //   });
  // },
  async mounted() {
    const clients = await Axios.get("/api/aclients");
    this.clientList = clients.data;

    const paymentMethods = await Axios.get("/api/apaymentmethods");
    this.paymentMethods = paymentMethods.data;
  },
  methods: {
    async findDebts() {
      const acountsReceivables = await Axios.get(
        "/api/getAccountsByClient/" + this.client_id
      );
      this.acountsReceivables = acountsReceivables.data.map(a => {
        return {
          acount_receivable_id: a.id,
          invoice: a.invoice.number,
          original_amount: a.original_amount,
          balance_before_payment: a.remaining_amount,
          amount_paid: null,
          balance_after_payment: null
        };
      });
    },
    applyAmount() {
      let amount = this.amount_paid;

      if (amount > this.totalDebt) {
        this.$bvToast.toast(
          "El monto a pagar no puede ser mayor que la deuda",
          {
            title: "Monto mayor",
            variant: "danger",
            solid: true
          }
        );
        return;
      }
      for (var row of this.acountsReceivables) {
        if (Number(amount) >= Number(row.balance_before_payment)) {
          row.amount_paid = row.balance_before_payment;
          amount -= row.balance_before_payment;
          row.balance_after_payment = Number(0);
          console.log(amount);
        } else if (
          Number(amount) > 0 &&
          Number(amount) < Number(row.balance_before_payment)
        ) {
          row.amount_paid = amount;
          row.balance_after_payment = row.balance_before_payment - amount;
          amount = 0;
        }
      }
    },
    reset() {},
    onSubmit() {
      Axios.post("/api/accountreceivables/", {
        pagos: this.acountsReceivables.filter(x => x.amount_paid > 0),
        client_id: this.client_id,
        payment_method_id: this.state,
        amount_paid: this.amount_paid
      }).then(response => {
        if (response.status == 200) {
          this.$bvModal.hide("modal-lg");
          this.cancelar();
          this.$emit("saved", response.data);
          this.onReset();
          this.$bvToast.toast(this.$t("Pago Agregado"), {
            title: this.$t("Success"),
            variant: "success",
            solid: true
          });
        } else {
          this.$bvToast.toast(response.data.message, {
            title: this.$t("Error ") + response.status,
            variant: "danger",
            solid: true
          });
        }
      });
    },
    errorFor(field) {
      return this.errors[field] ? this.errors[field] : null;
    },
    onReset() {
      this.client_id = null;
      this.amount_paid = null;
      // this.clientList = [];
      this.acountsReceivables = [];
      this.errors = [];
    },
    cancelar() {
      this.$bvModal.hide("modal-lg");
      this.onReset();
    }
  }
};
</script>
<style></style>
