<template>
  <div style="margin-right:20px" class="">
    <div class="card">
      <div class="card-header p-4">
        <!-- <a class="pt-2 d-inline-block" href="index.html" data-abc="true"
          >BBBootstrap.com</a
        > -->

        <div class="float-right">
          <h3 class="mb-0">Recibo de Pago #{{ Payment.id }}</h3>
          Fecha: {{ Payment.created_at }}
        </div>
      </div>
      <div class="card-body">
        <div class="row mb-4">
          <div class="col-sm-6">
            <h5 class="mb-3">Cliente:</h5>
            <h3 class="text-dark mb-1">{{ Payment.client.name }}</h3>
            <div>{{ Payment.client.address }}</div>
            <div>{{ Payment.client.email }}</div>
            <div>{{ Payment.client.phone }}</div>
          </div>
          <!-- <div class="col-sm-6 ">
            <h5 class="mb-3">To:</h5>
            <h3 class="text-dark mb-1">Akshay Singh</h3>
            <div>478, Nai Sadak</div>
            <div>Chandni chowk, New delhi, 110006</div>
            <div>Email: info@tikon.com</div>
            <div>Phone: +91 9895 398 009</div>
          </div> -->
        </div>
        <div class="table-responsive-sm">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="center">#</th>
                <th>Factura Numero</th>
                <th>Cliente</th>
                <th class="right">Monto Original</th>
                <th class="center">Balance Antes del Pago</th>
                <th class="center">Monto Pagado</th>
                <th class="center">Balance Despues del Pago</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(pay, key) in Payment.account_receivable_payment_details"
                :key="key"
              >
                <td class="center">1</td>
                <td class="left strong">{{ pay.invoice_number }}</td>
                <td class="left">{{ pay.client_id }}</td>
                <td class="right">
                  {{ pay.original_amount | currency("") }}
                </td>
                <td class="center">{{ pay.balance_before_payment }}</td>
                <!-- <td class="center">
                  {{ pay.balance_after_payment | currency("") }}
                </td> -->
                <td class="right">
                  {{ pay.amount_paid | currency("") }}
                </td>
                <td class="right">
                  {{ pay.balance_after_payment | currency("") }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div class="row">
          <div class="col-lg-4 col-sm-5"></div>
          <div class="col-lg-4 col-sm-5 ml-auto">
            <table class="table table-clear">
              <tbody>
                <tr>
                  <td class="left">
                    <strong class="text-dark">Sub total</strong>
                  </td>
                  <td class="right">
                    {{ Invoice.invoice.sub_total | currency("") }}
                  </td>
                </tr>
                <tr>
                  <td class="left">
                    <strong class="text-dark">Descuento</strong>
                  </td>
                  <td class="right">
                    {{ Invoice.invoice.discount | currency("") }}
                  </td>
                </tr>
                <tr>
                  <td class="left">
                    <strong class="text-dark">ITBIS</strong>
                  </td>
                  <td class="right">
                    {{ Invoice.invoice.itbis | currency("") }}
                  </td>
                </tr>
                <tr>
                  <td class="left">
                    <strong class="text-dark">Total</strong>
                  </td>
                  <td class="right">
                    <strong class="text-dark">{{
                      Invoice.invoice.total | currency("")
                    }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> -->
      </div>
      <div class="card-footer bg-white">
        <!-- <p class="mb-0">Nota:</p> -->
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["Payment"])
  }
};
</script>
<style scoped>
body {
  background-color: #000;
}

.padding {
  padding: 2rem !important;
}

.card {
  margin-bottom: 30px;
  border: none;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

.card-header {
  background-color: #fff;
  border-bottom: 1px solid #e6e6f2;
}

h3 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
  line-height: 26px;
  color: #3d405c;
  margin: 0px 0px 15px 0px;
  font-family: "Circular Std Medium";
}

.text-dark {
  color: #3d405c !important;
}
</style>
