<template>
  <div class="main-content">
    <div v-if="loader" class="preloader">
      <div class="spinner-bubble spinner-bubble-primary m-5"></div>
    </div>

    <!-- <breadcumb :page="'Factura'" :folder="'ingresos'" /> -->

    <div v-if="!loader" class="ul-todo-list-content">
      <div
        class="ul-todo-sidebar"
        :class="{ 'ul-todo-mobile-menu-open ': isOpenMobileMenu }"
      >
        <div class="ul-todo-sidebar-overlay"></div>
        <b-card body-class="p-2" style="min-height:550px" class="h-100">
          <i
            class="todo-sidebar-close i-Close pb-3 float-right"
            @click="isOpenMobileMenu = !isOpenMobileMenu"
          ></i>

          <b-row>
            <b-col md="12" class="mb-3">
              <p class="font-weight-400 mb-2">
                {{ $t("Cliente")
                }}<span class="text-danger font-weight-bolder">*</span>
              </p>
              <b-input-group>
                <b-form-select
                  :disabled="$route.params.OrderId != null"
                  :class="[
                    'form-control',
                    { 'is-invalid': this.errorFor('form.client_id') }
                  ]"
                  v-model="form.client_id"
                  :options="ClientsList"
                  value-field="id"
                  text-field="name"
                  id="inline-form-custom-select-pref"
                ></b-form-select>
                <b-input-group-append>
                  <b-button
                    :disabled="$route.params.OrderId != null"
                    v-b-modal.modal-1
                    variant="primary"
                    @click="addClient"
                    >+</b-button
                  >
                </b-input-group-append>
              </b-input-group>
              <b-alert
                v-for="(error, key) in errorFor('form.client_id')"
                :key="key"
                show
                variant="danger"
                class="error col-md-12 mt-1"
                >{{ error }}</b-alert
              >
            </b-col>
            <b-col md="12" class="mb-3">
              <p class="font-weight-400 mb-2">
                {{ $t("Fecha")
                }}<span class="text-danger font-weight-bolder">*</span>
              </p>
              <b-form-input
                :class="[
                  'form-control',
                  { 'is-invalid': this.errorFor('form.date') }
                ]"
                v-model="form.date"
                type="date"
                id="date"
              />
              <b-alert
                v-for="(error, key) in errorFor('form.date')"
                :key="key"
                show
                variant="danger"
                class="error col-md-12 mt-1"
                >{{ error }}</b-alert
              >
            </b-col>
            <b-col md="12" class="mb-3">
              <p class="font-weight-400 mb-2">
                {{ $t("Vendedor")
                }}<span class="text-danger font-weight-bolder">*</span>
              </p>

              <b-form-select
                :class="[
                  'form-control',
                  { 'is-invalid': this.errorFor('form.employee_id') }
                ]"
                v-model="form.employee_id"
                :options="EmployeesList"
                value-field="id"
                text-field="name"
                id="inline-form-custom-select-pref"
              ></b-form-select>
              <b-alert
                v-for="(error, key) in errorFor('form.employee_id')"
                :key="key"
                show
                variant="danger"
                class="error col-md-12 mt-1"
                >{{ error }}</b-alert
              >
            </b-col>
            <b-col md="12" class="mb-3">
              <p class="font-weight-400 mb-2">
                {{ $t("Forma de pago")
                }}<span class="text-danger font-weight-bolder">*</span>
              </p>

              <b-form-select
                :class="[
                  'form-control',
                  { 'is-invalid': this.errorFor('form.payment_type_id') }
                ]"
                v-model="form.payment_type_id"
                :options="PaymentTypesList"
                value-field="id"
                text-field="name"
                id="inline-form-custom-select-pref"
              ></b-form-select>
              <b-alert
                v-for="(error, key) in errorFor('form.payment_type_id')"
                :key="key"
                show
                variant="danger"
                class="error col-md-12 mt-1"
                >{{ error }}</b-alert
              >
            </b-col>
            <b-col md="12" class="mb-3">
              <p class="font-weight-400 mb-2">
                {{ $t("Condición de Pago")
                }}<span class="text-danger font-weight-bolder">*</span>
              </p>

              <b-form-select
                :class="[
                  'form-control',
                  { 'is-invalid': this.errorFor('form.payment_method_id') }
                ]"
                v-model="form.payment_method_id"
                :options="filteredPaymentMethods"
                value-field="id"
                text-field="name"
                id="inline-form-custom-select-pref"
              ></b-form-select>
              <b-alert
                v-for="(error, key) in errorFor('form.payment_method_id')"
                :key="key"
                show
                variant="danger"
                class="error col-md-12 mt-1"
                >{{ error }}</b-alert
              >
            </b-col>
            <b-col md="12" class="mb-3">
              <p class="font-weight-400 mb-2">
                {{ $t("Nota") }}
              </p>

              <b-form-textarea
                :class="[
                  'form-control',
                  { 'is-invalid': this.errorFor('form.note') }
                ]"
                v-model="form.note"
              ></b-form-textarea>
            </b-col>
            <!-- <b-col>
              <label class="checkbox checkbox-success"
                ><input type="checkbox" checked="checked"/><span
                  >Enviar Email</span
                ><span class="checkmark"></span
              ></label>
              <label class="checkbox checkbox-success"
                ><input type="checkbox" checked="checked"/><span
                  >Comprobante Fiscal?</span
                ><span class="checkmark"></span
              ></label>
            </b-col> -->
            <b-col
              style="bottom: 5px;position: absolute;display: flex;justify-content: center;"
            >
              <button @click="makeInvoice" class="btn btn-primary m-1">
                Facturar
              </button>
              <router-link
                tag="a"
                to="/app/income/invoice/list"
                class="btn btn-danger m-1"
              >
                Cancelar
              </router-link>
            </b-col>
          </b-row>

          <!-- <b-list-group>
            <b-list-group-item class="border-0" href="#">
              <a href>
                <i class="icon-regular i-Find-User mr-2"></i>
                Find
              </a>
            </b-list-group-item>
            <b-list-group-item class="border-0" href="#">
              <a href>
                <i class="icon-regular i-Favorite-Window mr-2"></i>
                Favourite
              </a>
            </b-list-group-item>
            <b-list-group-item class="border-0" href="#">
              <a href>
                <i class="icon-regular i-Delete-File mr-2"></i>
                Deleted
              </a>
            </b-list-group-item>
          </b-list-group> -->
        </b-card>
      </div>
      <p class="ul-todo-content-right">
        <b-card class="wrapper">
          <i
            class="nav-icon i-Align-Justify-All text-25 ul-contact-mobile-icon mr-2"
            @click="isOpenMobileMenu = !isOpenMobileMenu"
          ></i>

          <b-row>
            <b-col md="8 mt-1">
              <autocomplete
                ref="autocomplete"
                :get-result-value="getResultValue"
                :search="search"
                placeholder="Buscar Producto"
                aria-label="Buscar Producto"
                @submit="handleSubmit"
              ></autocomplete>
            </b-col>
            <b-col md="2" class="mt-1">
              <b-form-input
                v-model="quantity"
                v-on:keyup.enter="addProduct"
                ref="quantity"
                class="autocomplete-quantity"
              ></b-form-input>
            </b-col>
            <b-col class="mt-1" md="2">
              <button
                @click="addProduct"
                type="button"
                class="btn btn-primary ripple"
                style="height:50px"
              >
                Agregar
              </button>
            </b-col>
          </b-row>

          <div class="mt-4"></div>
          <vue-good-table
            :columns="columns"
            styleClass="tableOne vgt-table"
            :rows="cartProducts"
            :line-numbers="true"
          >
            <template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'price'">
                <span
                  @click="changePrice(props.row)"
                  style="cursor:pointer"
                  class="btn btn-primary"
                  v-if="props.row.change_price"
                  >{{ props.row.price | currency("") }}</span
                >
                <span v-else>{{ props.row.price | currency("") }}</span>
              </span>
              <span v-else-if="props.column.field == 'sub_total'">
                {{ props.row.sub_total | currency("") }}
              </span>
              <span v-else-if="props.column.field == 'name'">
                <a
                  style="cursor:pointer"
                  @click="showModalDescription(props.row)"
                  ><i class="text-success nav-icon i-Receipt"></i
                ></a>
                {{ props.row.name }}
                <p>
                  <small>{{ props.row.description }}</small>
                </p>
              </span>

              <span v-else-if="props.column.field == 'quantity'">
                {{ props.row.quantity | number("0,0") }}
              </span>
              <span v-else-if="props.column.field == 'itbis'">
                {{ props.row.itbis | currency("") }}
              </span>
              <span v-else-if="props.column.field == 'total'">
                {{ props.row.total | currency("") }}
              </span>
              <span v-else-if="props.column.field == 'delete'">
                <a style="cursor:pointer" @click="deleteProduct(props.row.id)"
                  ><i class="i-Close-Window text-25 text-danger"></i
                ></a>
              </span>
            </template>
          </vue-good-table>
          <div class="bg-red text-right totalsBox" md="12">
            <p>
              SUB TOTAL: <span>{{ cartSubTotal | currency("") }}</span>
            </p>
            <p>
              ITBIS: <span>{{ cartItbis | currency("") }}</span>
            </p>
            <p>
              TOTAL: <span>{{ cartTotal | currency("") }}</span>
            </p>
          </div>
        </b-card>
        <!-- edit-modal  -->
      </p>
      <modal
        @saved="updateClienteData"
        :client="editClient"
        :action="1"
        @close="resetClientData"
      ></modal>

      <b-modal id="descriptionP" title="Agregar Descripción del Producto">
        <p class="my-4">
          <textarea
            rows="5"
            v-model="description"
            class="form-control w-100"
          ></textarea>
        </p>
        <div slot="modal-footer" class="w-100">
          <b-button variant="primary" @click="addProductDescription">
            {{ $t("Guardar") }}
          </b-button>
          <b-button variant="default" @click="cancelar">{{
            $t("Cancelar")
          }}</b-button>
        </div>
      </b-modal>

      <!-- MODAL PRICE -->
      <b-modal id="modal-price" title="Cambiar Precio">
        <p class="my-4">
          <b-form-input v-model="price" type="number" />
        </p>
        <div slot="modal-footer" class="w-100">
          <b-button variant="primary" @click="changeProductPrice">
            {{ $t("Guardar") }}
          </b-button>
          <b-button variant="default" @click="cancelar">{{
            $t("Cancelar")
          }}</b-button>
        </div>
      </b-modal>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import Autocomplete from "@trevoreyre/autocomplete-vue";
import "@trevoreyre/autocomplete-vue/dist/style.css";
import Modal from "../client/modalForm";

export default {
  metaInfo: {
    title: "Agregar Facturas"
  },
  data() {
    return {
      loader: true,
      description: null,
      price: null,
      editClient: {
        name: null,
        description: null,
        image: null
      },
      form: {
        client_id: null,
        employee_id: null,
        payment_method_id: null,
        payment_type_id: null,
        date: null,
        note: null
      },
      productDescription: null,
      selectedProduct: null,
      quantity: 1,
      employees: [],
      paymenttypes: [],
      paymentmethods: [],
      name: null,
      isBadge: true,
      isOpenMobileMenu: false,
      editTodoList: "",
      clients: [],
      columns: [
        {
          label: "Código",
          field: "code",
          sortable: false
        },
        {
          label: "Nombre",
          field: "name",
          sortable: false
        },
        {
          label: "Cantidad",
          field: "quantity",
          sortable: false
        },
        {
          label: "Precio",
          field: "price",
          sortable: false
        },
        {
          label: "Sub Total",
          field: "sub_total",
          sortable: false
        },
        {
          label: "ITBIS",
          field: "itbis",
          sortable: false
        },
        {
          label: "Total",
          field: "total",
          sortable: false
        },
        {
          label: "Borrar",
          field: "delete",
          sortable: false
        }
      ]
    };
  },
  async created() {
    if (this.$route.params.OrderId) {
      this.LoadOrder({ id: this.$route.params.OrderId }).then(response => {
        console.log(response.data);
        this.form.client_id = response.data.client_id;
      });
    }

    await this.initialLoad();

    //Load Default Payment Type
    // this.form.payment_type_id = this.PaymentTypesList.find(
    //   x => x.default == true
    // ).id;

    //LOAD DEFAULT CONFIGS
    if (!this.$route.params.OrderId) {
      this.form.client_id = this.InvoiceConfigList.client_id;

      this.form.payment_type_id = this.InvoiceConfigList.payment_type_id;
    }

    this.form.employee_id = this.InvoiceConfigList.employee_id;

    this.loader = false;
  },
  components: {
    Autocomplete,
    Modal
  },
  methods: {
    ...mapActions([
      "initialLoad",
      "addProductToCart",
      "makeInvoices",
      "LoadOrder"
    ]),
    ...mapMutations(["loadClients", "deleteProducts", "reset"]),
    errorFor(field) {
      return this.Errors[field] ? this.Errors[field] : null;
    },
    changePrice(product) {
      this.productDescription = product;
      this.$bvModal.show("modal-price");
    },
    showModal() {
      this.$bvModal.show("modal-lg");
    },
    showModalDescription(product) {
      this.productDescription = product;
      this.$bvModal.show("descriptionP");
    },
    cancelar() {
      this.$bvModal.hide("descriptionP");
    },
    addProductDescription() {
      let product = this.cartProducts.find(
        x => x.id == this.productDescription.id
      );

      product.description = this.description;
      this.description = null;

      this.cancelar();
    },
    changeProductPrice() {
      let product = this.cartProducts.find(
        x => x.id == this.productDescription.id
      );

      product.price = this.price;

      product.sub_total = this.price * product.quantity;

      product.itbis = product.price * product.quantity * (product.rate / 100);

      product.total = product.price * product.quantity + product.itbis;

      this.$bvModal.hide("modal-price");
    },
    updateClienteData(data) {
      this.loadClients(data);
      this.form.client_id = data[0].id;
    },
    addClient() {
      setTimeout(() => {
        this.showModal();
      }, 0.5);
    },
    resetClientData() {},
    search(input) {
      if (input.length < 1) {
        return [];
      }
      return this.ProductsList.filter(product => {
        return product.name.toLowerCase().includes(input.toLowerCase());
      });
    },
    getResultValue(result) {
      return result.name;
    },
    handleSubmit(result) {
      this.selectedProduct = result;
      this.$refs.quantity.$el.focus();
    },
    addProduct() {
      if (this.selectedProduct && this.quantity > 0) {
        this.$refs.autocomplete.value = null;
        document.getElementsByClassName("autocomplete-input")[0].value = "";
        document.getElementsByClassName("autocomplete-input")[0].focus();

        this.addProductToCart({
          product: this.selectedProduct,
          quantity: this.quantity
        });

        this.quantity = 1;
      }
    },
    deleteProduct(id) {
      this.deleteProducts(id);
    },
    onReset() {
      this.form.client_id = null;
      this.form.employee_id = null;
      this.form.payment_method_id = null;
      this.form.payment_type_id = null;
      this.form.date = null;
      this.reset();
    },
    makeInvoice() {
      if (this.cartProducts.length > 0) {
        this.makeInvoices(this.form)
          .then(response => {
            if (422 === response.status) {
              this.$bvToast.toast("Los datos con * son requeridos", {
                title: "Datos Requeridos",
                variant: "danger",
                solid: true
              });
            } else if (200 === response.status) {
              this.onReset();
              this.$router.push({
                name: "invoice/list",
                params: { success: true }
              });
            } else if (400 === response.status) {
              this.$bvToast.toast(response.data.message, {
                title: "Verificar!",
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(response.data.error || response.statusText, {
                title: this.$t("Error ") + response.status,
                variant: "danger",
                solid: true
              });
            }
          })
          .catch(error => {
            if (error.response) {
              if (422 === error.response.status) {
                this.$bvToast.toast("Error de Datos", {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                });
              } else {
                this.$bvToast.toast(
                  error.response.data.error || error.response.statusText,
                  {
                    title: this.$t("Error ") + error.response.status,
                    variant: "danger",
                    solid: true
                  }
                );
              }
            } else {
              this.$bvToast.toast(this.$t("Error "), {
                title: this.$t("Error "),
                variant: "danger",
                solid: true
              });
            }
          });
      } else {
        this.$bvToast.toast("Necesita introducir al menos un producto", {
          title: "Datos Requeridos",
          variant: "danger",
          solid: true
        });
      }
    }
  },
  computed: {
    ...mapGetters([
      "ProductsList",
      "EmployeesList",
      "PaymenMethodsList",
      "PaymentTypesList",
      "ClientsList",
      "InvoiceConfigList",
      "cartProducts",
      "cartSubTotal",
      "cartItbis",
      "Errors",
      "Status"
    ]),
    hasErrors() {
      return 422 === this.Status && this.Errors !== null;
    },
    cartTotal() {
      return this.cartSubTotal + this.cartItbis;
    },
    filteredPaymentMethods() {
      return this.PaymenMethodsList.filter(
        x => x.payment_type_id == this.form.payment_type_id
      );
    },
    getDefaulPaymentType() {
      return this.PaymentTypesList.find(x => x.default == true).id;
    }
  }
};
</script>
<style>
.autocomplete-quantity {
  border: 1px solid #eee;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  /* padding: 12px 12px 12px 48px; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #eee;
  /* background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+); */
  /* background-repeat: no-repeat; */
  /* background-position: 12px; */
}
.ul-todo-list-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.ul-todo-sidebar {
  position: relative;
  width: 250px;
  margin-right: 20px;
}

.ul-todo-sidebar .card {
  height: 70vh !important;
}

.ul-todo-content-right {
  width: calc(100% - 230px);
  height: 100%;
}

.ul-contact-mobile-icon {
  display: none;
}

.ul-todo-mobile-menu-open {
  left: 0 !important;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.todo-sidebar-close {
  display: none;
}

.todo-img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

table.vgt-table td {
  vertical-align: middle;
}

@media only screen and (max-width: 1000px) {
  .ul-todo-list-content {
    overflow-x: hidden;
    height: 100vh;
  }

  .ul-todo-sidebar {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: absolute;
    top: 0;
    left: -260px;
    z-index: 50;
  }

  .ul-todo-content-right {
    width: 100%;
  }

  .todo-sidebar-close,
  .ul-contact-mobile-icon {
    display: block;
  }
}

.preloader {
  width: 100%;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Raleway", sans-serif;
  position: relative;
}

.totalsBox {
  margin: 20px 50px 0 0;
}
.totalsBox p {
  color: gray;
  font-weight: 800;
}
.totalsBox p span {
  color: gray;
  font-weight: 500;
}
</style>
