<template>
  <b-modal
    id="modal-lg"
    size="xxl"
    title="Agregar Producto"
    style="width:80%;max-width:100%"
  >
    <b-form
      @submit="onSubmit"
      @reset="onReset"
      class="row"
      enctype="multipart/form-data"
      autocomplet="off"
    >
      <b-col md="6" class="mb-3" xs="12" xl="2">
        <p class="font-weight-400 mb-2">{{ $t("Imagen del Producto") }}</p>

        <div
          @click="openImage"
          ref="preview"
          id="preview"
          class="card o-hidden"
          style="border: 1px gray dashed;background:#d3d3d373;min-height: 240px;
          max-height: 240px;cursor:pointer"
        ></div>
        <a
          @click.prevent="deleteImage"
          v-if="this.previewImg"
          class="btn btn-danger"
          style="color:white;margin: 20px 0 20px 0px;"
          >Eliminar</a
        >
        <b-form-group id="fileInput" class="dragdrop" style="display: none">
          <b-form-file
            id="file"
            v-model="file"
            accept="image/jpeg, image/png, image/gif"
            placeholder
          ></b-form-file>
        </b-form-group>
      </b-col>
      <b-col md="6" xs="12" xl="5">
        <b-row>
          <b-col md="12" class="mb-3">
            <p class="font-weight-400 mb-2">
              {{ $t("Nombre")
              }}<span class="text-danger font-weight-bolder">*</span>
            </p>
            <b-form-input
              :class="['form-control', { 'is-invalid': this.errorFor('name') }]"
              v-model.trim="name"
            />
            <b-alert
              v-for="(error, key) in errorFor('name')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
            <b-alert
              show
              variant="danger"
              class="error col-md-12 mt-1"
              v-if="!$v.name.required && submitStatus != null"
              >{{ $t("El nombre es requerido") }}</b-alert
            >
          </b-col>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">
              {{ $t("Unidad Principal")
              }}<span class="text-danger font-weight-bolder">*</span>
            </p>

            <b-form-select
              :class="[
                'form-control',
                { 'is-invalid': this.errorFor('unit_id') }
              ]"
              v-model="unit_id"
              :options="units"
              id="inline-form-custom-select-pref"
            ></b-form-select>
            <b-alert
              v-for="(error, key) in errorFor('unit_id')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="3" class="mb-3">
            <p class="font-weight-400 mb-2">
              {{ $t("Precio Base")
              }}<span class="text-danger font-weight-bolder">*</span>
            </p>
            <b-form-input
              :class="[
                'form-control',
                { 'is-invalid': this.errorFor('base_price') }
              ]"
              v-model.trim="base_price"
              type="number"
            />
            <b-alert
              v-for="(error, key) in errorFor('base_price')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="3" class="mb-3">
            <p class="font-weight-400 mb-2">
              {{ $t("Costo") }}
            </p>
            <b-form-input
              :class="['form-control', { 'is-invalid': this.errorFor('cost') }]"
              v-model.trim="cost"
              type="number"
            />
            <b-alert
              v-for="(error, key) in errorFor('cost')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">
              {{ $t("Impuestos")
              }}<span class="text-danger font-weight-bolder">*</span>
            </p>

            <b-form-select
              v-model="rate_id"
              :options="rates"
              :class="[
                'form-control',
                { 'is-invalid': this.errorFor('rate_id') }
              ]"
              id="inline-form-custom-select-pref"
            ></b-form-select>
            <b-alert
              v-for="(error, key) in errorFor('rate_id')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">
              {{ $t("Categoría")
              }}<span class="text-danger font-weight-bolder">*</span>
            </p>

            <b-form-select
              :class="[
                'form-control',
                { 'is-invalid': this.errorFor('category_id') }
              ]"
              v-model="category_id"
              :options="categories"
              id="inline-form-custom-select-pref"
            ></b-form-select>
            <b-alert
              v-for="(error, key) in errorFor('category_id')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col>
            <label style="font-size: 18px;font-weight: 600;"
              >Precio Venta:
              <span style="color:green">{{
                sellPrice | currency("RD$ ")
              }}</span></label
            >
          </b-col>
        </b-row>
      </b-col>

      <b-col md="12" xs="12" xl="5">
        <b-row>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Código") }}</p>
            <b-form-input
              :class="['form-control', { 'is-invalid': this.errorFor('code') }]"
              v-model.trim="code"
            />
            <b-alert
              v-for="(error, key) in errorFor('code')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">
              {{ $t("Estado")
              }}<span class="text-danger font-weight-bolder">*</span>
            </p>

            <b-form-select
              v-model="state"
              :class="[
                'form-control',
                { 'is-invalid': this.errorFor('state_id') }
              ]"
              :options="{ '1': 'Activo', '2': 'Inactivo' }"
              id="inline-form-custom-select-pref"
            ></b-form-select>
            <b-alert
              v-for="(error, key) in errorFor('state_id')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="12" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Descripción") }}</p>
            <b-form-textarea
              :class="[
                'form-control',
                { 'is-invalid': this.errorFor('description') }
              ]"
              id="textarea"
              v-model.trim="description"
              rows="4"
              max-rows="4"
            ></b-form-textarea>
            <b-alert
              v-for="(error, key) in errorFor('description')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>

          <b-col>
            <b-row>
              <b-col>
                <label class="checkbox checkbox-outline-success"
                  ><input
                    type="checkbox"
                    v-model="inventoried"
                    :checked="inventoried"/><span>Inventariado</span
                  ><span class="checkmark"></span
                ></label>
                <label class="checkbox checkbox-outline-success"
                  ><input
                    type="checkbox"
                    v-model="change_price"
                    :checked="change_price"/><span
                    >Cambiar Precio en Factura</span
                  ><span class="checkmark"></span
                ></label>
              </b-col>
              <!-- <b-col>
                <label class="checkbox checkbox-outline-success"
                  ><input
                    type="checkbox"
                    v-model="multipleUnit"
                    :checked="multipleUnit"/><span>Multiples Unidades</span
                  ><span class="checkmark"></span
                ></label>
              </b-col> -->
            </b-row>
          </b-col>
        </b-row>
      </b-col>
      <b-col md="12">
        <b-tabs active-nav-item-class="nav nav-tabs" content-class="">
          <!-- <b-tab>
            <template slot="title">
              <i
                class="i-File-Clipboard-File--Text ul-tab__icon text-muted mr-1"
              >
              </i>
              Atributos
            </template>
            <p class="">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </b-tab> -->
          <b-tab title="" v-if="inventoried">
            <template slot="title">
              <i class="i-Download ul-tab__icon text-success mr-1"> </i>
              Inventario
            </template>
            <b-row>
              <b-col md="6" class="mb-3">
                <p class="font-weight-400 mb-2">
                  {{ $t("Mínimo") }}
                  <span class="text-danger font-weight-bolder">*</span>
                </p>
                <b-form-input
                  :class="[
                    'form-control',
                    { 'is-invalid': this.errorFor('min') }
                  ]"
                  v-model.trim="min"
                  type="number"
                />
                <b-alert
                  v-for="(error, key) in errorFor('min')"
                  :key="key"
                  show
                  variant="danger"
                  class="error col-md-12 mt-1"
                  >{{ error }}</b-alert
                >
              </b-col>
              <b-col md="6" class="mb-3">
                <p class="font-weight-400 mb-2">
                  {{ $t("Máximo")
                  }}<span class="text-danger font-weight-bolder">*</span>
                </p>
                <b-form-input
                  :class="[
                    'form-control',
                    { 'is-invalid': this.errorFor('max') }
                  ]"
                  v-model.trim="max"
                  type="number"
                />
                <b-alert
                  v-for="(error, key) in errorFor('max')"
                  :key="key"
                  show
                  variant="danger"
                  class="error col-md-12 mt-1"
                  >{{ error }}</b-alert
                >
              </b-col>
            </b-row>
          </b-tab>
          <b-tab v-if="multipleUnit">
            <template slot="title">
              <i
                class="i-File-Clipboard-File--Text ul-tab__icon text-muted mr-1"
              >
              </i>
              Unidades
            </template>
            <p class="">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </b-tab>
        </b-tabs>
      </b-col>
    </b-form>
    <div slot="modal-footer" class="w-100">
      <b-button v-if="action == 1" variant="primary" @click="onSubmit">
        {{ $t("Guardar") }}
      </b-button>
      <b-button v-if="action == 2" variant="primary" @click="onUpdate">
        {{ $t("Actualizar") }}
      </b-button>
      <b-button variant="default" @click="cancelar">{{
        $t("Cancelar")
      }}</b-button>
    </div>
  </b-modal>
</template>
<script>
import { required } from "vuelidate/lib/validators";
import { Axios, Server } from "@/data/config";

export default {
  data() {
    return {
      server: Server,
      inventoried: false,
      change_price: false,
      multipleUnit: false,
      file: null,
      state: 1,
      base_price: null,
      cost: null,
      sell_price: null,
      min: null,
      max: null,
      rate_id: null,
      unit_id: null,
      category_id: null,
      code: null,
      due_date: null,
      previewImg: null,
      name: null,
      id: null,
      status: null,
      errors: [],
      units: [],
      rates: [],
      categories: [],
      hasImage: false,
      image: null,
      description: null,
      submitStatus: null
    };
  },
  components: {},

  validations: {
    name: {
      required
    }
  },
  computed: {
    hasErrors() {
      return 422 === this.status && this.errors !== null;
    },
    sellPrice() {
      if (this.rate_id) {
        return (
          Number(
            this.base_price *
              (this.rates.filter(x => x.value == this.rate_id)[0].rate / 100)
          ) + Number(this.base_price)
        );
      }
      return 0;
    }
  },
  props: {
    category: Object,
    action: Number
  },
  created() {
    this.$root.$on("bv::modal::show", () => {
      if (this.category && this.action == 2) {
        this.id = this.category.id;
        this.name = this.category.name;
        this.description = this.category.description;
        this.state = this.category.state_id;
        this.unit_id = this.category.unit_id;
        this.category_id = this.category.category_id;
        this.rate_id = this.category.rate_id;
        this.base_price = this.category.base_price;
        this.inventoried = this.category.inventoried;
        this.code = this.category.code;
        this.change_price = this.category.change_price;
        this.cost = this.category.cost;
        this.min = this.category.min;
        this.max = this.category.max;

        const img = document.createElement("img");
        img.classList.add("obj");
        img.src = this.server + this.category.image;
        this.previewImg = img;
        setTimeout(() => {
          this.$refs.preview.appendChild(img);
        }, 0.5);
      }
    });
    this.$root.$on("bv::modal::hidden", () => {
      this.onReset();
    });
  },
  async mounted() {
    const units = await Axios.get("/api/activeunits");
    this.units = units.data;

    const rates = await Axios.get("/api/activerates");
    this.rates = rates.data;

    const categories = await Axios.get("/api/activecategories");
    this.categories = categories.data;
  },
  watch: {
    file(val) {
      if (!val) return;
      if (this.previewImg) {
        this.previewImg.remove();
      }
      const img = document.createElement("img");
      img.classList.add("obj");
      img.file = this.file;
      this.previewImg = img;
      this.$refs.preview.appendChild(img);

      this.hasImage = true;

      const fileReader = new FileReader();
      fileReader.onload = e => {
        this.previewImg.src = e.target.result;
        // console.log(e.target.result);
      };
      fileReader.readAsDataURL(this.file);
    }
  },

  methods: {
    deleteImage() {
      this.previewImg.remove();
      this.previewImg = null;
      this.file = null;
      if (this.action == 2) {
        Axios.get("api/products/deleteImage/" + this.id);
      }
    },
    openImage() {
      let v = document.getElementById("file");
      v.click();
    },
    onSubmit() {
      let img = this.previewImg ? this.previewImg.src.split(",")[1] : null;
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        Axios.post("api/products", {
          name: this.name,
          description: this.description,
          image: img,
          state_id: this.state,
          unit_id: this.unit_id,
          category_id: this.category_id,
          rate_id: this.rate_id,
          sell_price: this.sellPrice,
          base_price: this.base_price,
          inventoried: this.inventoried,
          code: this.code,
          change_price: this.change_price,
          cost: this.cost,
          min: this.min,
          max: this.max
        })
          .then(response => {
            if (response.status == 200) {
              this.$bvToast.toast(this.$t("Producto Agregado"), {
                title: this.$t("Success"),
                variant: "success",
                solid: true
              });
              this.cancelar();
              this.$emit("saved", response.data);
            } else {
              this.$bvToast.toast(response.data.message, {
                title: this.$t("Error ") + response.status,
                variant: "danger",
                solid: true
              });
            }
          })
          .catch(error => {
            if (error.response) {
              if (422 === error.response.status) {
                this.errors = error.response.data.error;
                this.status = 422;
                this.$bvToast.toast("Error de Datos", {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                });
              } else {
                this.$bvToast.toast(
                  error.response.data.error || error.response.statusText,
                  {
                    title: this.$t("Error ") + error.response.status,
                    variant: "danger",
                    solid: true
                  }
                );
              }
            } else {
              this.$bvToast.toast(this.$t("Error "), {
                title: this.$t("Error "),
                variant: "danger",
                solid: true
              });
            }
          });
      }
    },
    onUpdate() {
      let img =
        this.previewImg && this.hasImage
          ? this.previewImg.src.split(",")[1]
          : null;
      Axios.put("/api/products/" + this.id, {
        name: this.name,
        description: this.description,
        image: img,
        state_id: this.state,
        unit_id: this.unit_id,
        category_id: this.category_id,
        rate_id: this.rate_id,
        sell_price: this.sellPrice,
        base_price: this.base_price,
        inventoried: this.inventoried,
        code: this.code,
        change_price: this.change_price,
        cost: this.cost,
        min: this.min,
        max: this.max
      })
        .then(response => {
          if (response.status == 200) {
            this.$bvToast.toast(this.$t("Producto Actualizado"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
            this.cancelar();
            this.$emit("saved", response.data);
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.errors = error.response.data.error;
              this.status = 422;
              this.$bvToast.toast("Error de Datos", {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    errorFor(field) {
      return this.errors[field] ? this.errors[field] : null;
    },
    onReset() {
      this.name = "";
      this.description = "";
      this.previewImg = null;
      this.hasImage = false;
      this.status = null;
      this.errors = [];
      this.state = 1;
      this.unit_id = null;
      this.category_id = null;
      this.rate_id = null;
      this.base_price = null;
      this.sell_price = null;
      this.inventoried = null;
      this.code = null;
      this.min = null;
      this.max = null;
      this.cost = null;
      this.change_price = false;
    },
    cancelar() {
      this.$bvModal.hide("modal-lg");
      this.onReset();
    }
  }
};
</script>
<style>
.modal-xxl {
  max-width: 100%;
  width: 80%;
  margin: auto;
  margin-top: 10vh;
}
</style>
