<template>
  <!-- ============ Body content start ============= -->
  <div class="main-content">
    <breadcumb :page="'Inicio'" :folder="'Empresas'" />
    <b-row>
      <!-- ICON BG -->
      <b-col lg="3" md="6" sm="12">
        <b-card
          class="card-icon-bg card-icon-bg-primary o-hidden mb-30 text-center"
        >
          <i class="i-Add-User"></i>
          <div class="content">
            <p class="text-muted mt-2 mb-0">Clientes</p>
            <p class="text-primary text-24 line-height-1 mb-2">
              {{ clientsCount | number("0,0") }}
            </p>
          </div>
        </b-card>
      </b-col>
      <b-col lg="3" md="6" sm="12">
        <b-card
          class="card-icon-bg card-icon-bg-primary o-hidden mb-30 text-center"
        >
          <i class="i-Checkout-Basket"></i>
          <div class="content">
            <p class="text-muted mt-2 mb-0">Productos</p>
            <p class="text-primary text-24 line-height-1 mb-2">
              {{ productsCount | number("0,0") }}
            </p>
          </div>
        </b-card>
      </b-col>
      <b-col lg="3" md="6" sm="12">
        <b-card
          class="card-icon-bg card-icon-bg-primary o-hidden mb-30 text-center"
        >
          <i class="i-Financial"></i>
          <div class="content">
            <p class="text-muted mt-2 mb-0">Ingresos</p>
            <p class="text-primary text-24 line-height-1 mb-2">
              {{ income | currency("") }}
            </p>
          </div>
        </b-card>
      </b-col>
      <b-col lg="3" md="6" sm="12">
        <b-card
          class="card-icon-bg card-icon-bg-primary o-hidden mb-30 text-center"
        >
          <i class="i-Money-2"></i>
          <div class="content">
            <p class="text-muted mt-2 mb-0">Gastos</p>
            <p class="text-primary text-24 line-height-1 mb-2">
              {{ expense | currency("") }}
            </p>
          </div>
        </b-card>
      </b-col>
    </b-row>

    <b-row>
      <b-col lg="8" md="12" sm="12">
        <b-card class=" mb-30">
          <h4 class="card-title m-0">Este Año</h4>
          <div class="chart-wrapper" style="height: 300px ; width:100% ">
            <v-chart
              id="echartbar"
              :options="datos"
              :autoresize="true"
            ></v-chart>
          </div>
        </b-card>
      </b-col>
      <b-col col lg="4" md="12" sm="12">
        <b-card class=" mb-30">
          <h4 class="card-title m-0">Ventas por Productos</h4>
          <div class="chart-wrapper" style="height: 300px ; width:100%">
            <v-chart :options="echartPie" :autoresize="true"></v-chart>
          </div>
        </b-card>
      </b-col>
    </b-row>
  </div>
  <!-- ============ Body content End ============= -->
</template>
<script>
import { Axios } from "@/data/config";

export default {
  metaInfo: {
    // if no subcomponents specify a metaInfo.title, this title will be used
    title: "Inicio"
  },
  data() {
    return {
      dark_heading: "#c2c6dc",
      clientsCount: 0,
      productsCount: 0,
      expenseByMoth: [],
      incomesByMoth: [],
      income: 0,
      expense: 0,
      echartPie: {
        color: [
          "#62549c",
          "#7566b5",
          "#7d6cbb",
          "#8877bd",
          "#9181bd",
          "#6957af"
        ],
        tooltip: {
          show: true,
          backgroundColor: "rgba(0, 0, 0, .8)"
        },
        series: [
          {
            name: "Ventas Por Productos",
            type: "pie",
            radius: "50%",
            center: "50%",
            data: [],
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: "rgba(0, 0, 0, 0.5)"
              }
            }
          }
        ]
      }
    };
  },

  computed: {
    datos() {
      return {
        legend: {
          borderRadius: 0,
          orient: "horizontal",
          x: "right",
          data: ["Online", "Offline"]
        },
        grid: {
          left: "8px",
          right: "8px",
          bottom: "0",
          containLabel: true
        },
        tooltip: {
          show: true,
          backgroundColor: "rgba(0, 0, 0, .8)"
        },

        xAxis: [
          {
            type: "category",

            data: [
              "Jan",
              "Feb",
              "Mar",
              "Apr",
              "May",
              "Jun",
              "Jul",
              "Aug",
              "Sept",
              "Oct",
              "Nov",
              "Dec"
            ],
            axisTick: {
              alignWithLabel: true
            },
            splitLine: {
              show: false
            },
            axisLabel: {
              color: this.dark_heading
            },
            axisLine: {
              show: true,
              color: this.dark_heading,

              lineStyle: {
                color: this.dark_heading
              }
            }
          }
        ],
        yAxis: [
          {
            type: "value",

            axisLabel: {
              color: this.dark_heading,
              formatter: "${value}"
            },
            axisLine: {
              show: false,
              color: this.dark_heading,

              lineStyle: {
                color: this.dark_heading
              }
            },
            min: 0,
            max: Math.max(...this.incomesByMoth, ...this.expenseByMoth),
            interval: Math.trunc(
              Math.max(...this.incomesByMoth, ...this.expenseByMoth) / 5
            ),

            splitLine: {
              show: true,
              interval: "auto"
            }
          }
        ],

        series: [
          {
            name: "Ingresos",
            data: this.incomesByMoth,
            label: { show: false, color: "#0168c1" },
            type: "bar",
            barGap: 0,
            color: "#bcbbdd",
            smooth: true,
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowOffsetY: -2,
                shadowColor: "rgba(0, 0, 0, 0.3)"
              }
            }
          },
          {
            name: "Gastos",
            data: this.expenseByMoth,
            label: { show: false, color: "#639" },
            type: "bar",
            color: "#7569b3",
            smooth: true,
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowOffsetY: -2,
                shadowColor: "rgba(0, 0, 0, 0.3)"
              }
            }
          }
        ]
      };
    }
  },
  async created() {
    const Clients = await Axios.get("api/clientCount");
    this.clientsCount = Clients.data;

    const incomesByMoth = await Axios.get("api/monthlyIncomesByYear");
    this.incomesByMoth = incomesByMoth.data;

    const expenseByMoth = await Axios.get("api/monthlyExpensesByYear");
    this.expenseByMoth = expenseByMoth.data;

    const Incomes = await Axios.get("api/income");
    this.income = Incomes.data;

    const Expenses = await Axios.get("api/expense");
    this.expense = Expenses.data;

    const Products = await Axios.get("api/productsCount");
    this.productsCount = Products.data;

    const SellsByProducts = await Axios.get("api/sellsByProducts");
    this.echartPie.series[0].data = SellsByProducts.data;
  }
};
</script>
<style>
.echarts {
  width: 100%;
  height: 100%;
}
</style>
