<template>
  <div class="row">
    <div class="col-md-12 col-lg-6 col-xl-6">
      <div class="ul-pricing__table-1">
        <div class="ul-pricing__image card-icon-bg-primary">
          <i class="i-Calendar-4"></i>
        </div>
        <div class="ul-pricing__title">
          <h2 class="heading text-primary">Mensual</h2>
        </div>
        <div class="ul-pricing__text text-mute">dolares</div>
        <div class="ul-pricing__main-number">
          <h3 class="heading display-3 text-primary t-font-boldest">$15</h3>
        </div>
        <div class="ul-pricing__list">
          <p>
            Plan de subscripción Mensual,
          </p>
        </div>
        <button
          @click="yearly"
          type="button"
          class="btn btn-lg btn-primary btn-rounded m-1"
        >
          Subscribirse
        </button>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-6">
      <div class="ul-pricing__table-1">
        <div class="ul-pricing__image card-icon-bg-primary">
          <i class="i-Calendar"></i>
        </div>
        <div class="ul-pricing__title">
          <h2 class="heading text-primary">Anual</h2>
        </div>
        <div class="ul-pricing__text text-mute">dolares</div>
        <div class="ul-pricing__main-number">
          <h3 class="heading display-3 text-primary t-font-boldest">$150</h3>
        </div>
        <div class="ul-pricing__list">
          <p>
            Plan de subscripción Anual,
          </p>
        </div>
        <button
          @click="monthly"
          type="button"
          class="btn btn-lg btn-primary btn-rounded m-1"
        >
          Subscribirse
        </button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      pais: null
    };
  },
  methods: {
    yearly() {
      console.log(2);
    },
    monthly() {
      console.log(1);
    }
  }
};
</script>
