<template>
  <div
    class="auth-layout-wrap"
    :style="{ backgroundImage: 'url(' + bgImage + ')' }"
  >
    <div class="auth-content">
      <div class="card o-hidden">
        <div class="row">
          <div class="col-md-6">
            <div class="p-4">
              <div class="auth-logo text-center mb-30">
                <img :src="logo" width="50" />
              </div>
              <h1 class="mb-3 text-18">Iniciar Sesión</h1>
              <b-form @submit.prevent="formSubmit">
                <b-form-group label="Correo Electrónico" class="text-12">
                  <b-form-input
                    class="form-control-rounded"
                    type="text"
                    v-model="email"
                    email
                    required
                  ></b-form-input>
                </b-form-group>

                <b-form-group label="Contraseña" class="text-12">
                  <b-form-input
                    class="form-control-rounded"
                    type="password"
                    v-model="password"
                  ></b-form-input>
                </b-form-group>
                <b-button
                  type="submit"
                  tag="button"
                  class="btn-rounded btn-block mt-2"
                  variant="primary mt-2"
                  :disabled="loading"
                >
                  Iniciar Sesión
                </b-button>
                <div v-once class="typo__p" v-if="loading">
                  <div class="spinner sm spinner-primary mt-3"></div>
                </div>
                <a
                  @click="googleLogIn"
                  class="btn btn-rounded btn-outline-primary btn-outline-google btn-block btn-icon-text"
                  ><i class="i-Google-Plus"></i> Iniciar Sesion con Google
                </a>
              </b-form>

              <div class="mt-3 text-center">
                <router-link to="forgot" tag="a" class="text-muted">
                  <!-- <u>olvidó su contraseña?</u> -->
                </router-link>
              </div>
            </div>
          </div>

          <b-col
            md="6"
            class="text-center"
            style="backgroundSize: cover;"
            :style="{ backgroundImage: 'url(' + signInImage + ')' }"
          >
            <div class="pr-3 auth-right">
              <router-link
                to="signUp"
                class="btn btn-rounded btn-outline-primary btn-outline-email btn-block btn-icon-text"
                href="signup.html"
              >
                <i class="i-Mail-with-At-Sign"></i> Registrarse
              </router-link>

              <a
                @click="googleButton"
                class="btn btn-rounded btn-outline-primary btn-outline-google btn-block btn-icon-text"
                ><i class="i-Google-Plus"></i> Registrarse con Google
              </a>
              <GoogleLogin
                style="visibility:hidden"
                ref="googleLogInId"
                :params="params"
                :onSuccess="onSuccessLog"
                :onFailure="onFailureLog"
                >Login</GoogleLogin
              >
              <GoogleLogin
                style="visibility:hidden"
                ref="googleButtonId"
                :params="params"
                :onSuccess="onSuccess"
                :onFailure="onFailure"
                >Login</GoogleLogin
              >
            </div>
          </b-col>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import GoogleLogin from "vue-google-login";

export default {
  metaInfo: {
    // if no subcomponents specify a metaInfo.title, this title will be used
    title: "SignIn"
  },
  components: {
    GoogleLogin
  },
  data() {
    return {
      params: {
        client_id:
          "839432010739-3vek91jbp33n16h1697ieg52p08vh3e9.apps.googleusercontent.com"
      },
      // only needed if you want to render the button with the google ui
      renderParams: {
        width: 250,
        height: 50,
        longtitle: true
      },
      email: null,
      // email: "admin@gmail.com",
      password: null,
      // password: "pass",
      // // password: "vue006",
      userId: "",
      bgImage: require("@/assets/images/photo-wide-4.jpg"),
      logo: require("@/assets/images/logo.png"),
      signInImage: require("@/assets/images/photo-long-3.jpg")
    };
  },
  computed: {
    validation() {
      return this.userId.length > 4 && this.userId.length < 13;
    },
    ...mapGetters(["loggedInUser", "loading", "error"])
  },

  methods: {
    googleButton() {
      this.$refs.googleButtonId.$el.click();
    },
    googleLogIn() {
      this.$refs.googleLogInId.$el.click();
    },
    onSuccess(googleUser) {
      // console.log(googleUser.getBasicProfile());
      var profile = googleUser.getBasicProfile();

      this.signUserUp({
        email: profile.getEmail(),
        password: "generate123456",
        name: profile.getName(),
        image: profile.getImageUrl()
      });
    },
    onSuccessLog(googleUser) {
      // console.log(googleUser.getBasicProfile());
      var profile = googleUser.getBasicProfile();

      this.login({
        email: profile.getEmail(),
        password: "generate123456",
        name: profile.getName(),
        image: profile.getImageUrl()
      });
    },
    onFailure() {},
    onFailureLog() {},
    ...mapActions(["login", "signUserUp"]),
    formSubmit() {
      this.login({ email: this.email, password: this.password });
    },

    makeToast(variant = null, msg, code = null) {
      this.$bvToast.toast(msg, {
        title: ` ${code == null ? "Message" : "Error " + code}`,
        variant: variant,
        solid: true
      });
    }
  },
  watch: {
    loggedInUser(val) {
      // console.log(val.uid);
      if (val && val.length > 0) {
        this.makeToast("success", "Successfully Logged In");

        setTimeout(() => {
          this.$router.push("/");
        }, 500);
      }
    },
    error(val) {
      // console.log(val)
      if (val != null) {
        this.makeToast("danger", val.message, val.code);

        //console.log(val.response.data.msg);
      }
    }
  }
};
</script>

<style>
.spinner.sm {
  height: 2em;
  width: 2em;
}
</style>
