<template>
  <b-col lg="12" xl="12">
    <b-card
      :header="$t('Configuración Empresa')"
      header-bg-variant="transparent"
    >
      <div>
        <b-tabs content-class="mt-3">
          <b-tab :title="$t('Empresa')" active>
            <companyForm></companyForm>
          </b-tab>
          <!-- <b-tab :title="$t('Email')">
            <emailForm></emailForm>
          </b-tab> -->
          <b-tab :title="$t('Facturas')">
            <factura-form></factura-form>
          </b-tab>
        </b-tabs>
      </div>
    </b-card>
  </b-col>
</template>
<script>
import companyForm from "./components/CompanyForm.vue";
// import emailForm from "./components/emailForm.vue";
import facturaForm from "./components/facturaForm.vue";
export default {
  data() {
    return {};
  },
  components: {
    companyForm,
    // emailForm,
    facturaForm
  }
};
</script>
