<template>
  <b-row>
    <b-form @submit="onSubmit" @reset="onReset" class="row">
      <b-col md="4">
        <b-row>
          <b-col md="12" class="mb-3" xs="12" xl="12">
            <p class="font-weight-400 mb-2">{{ $t("Logo Empresa") }}</p>

            <div
              @click="openImage"
              ref="preview"
              id="preview"
              class="card o-hidden"
              style="border: 1px gray dashed;background:#d3d3d373;min-height: 240px;
          max-height: 240px;cursor:pointer"
            ></div>
            <a
              @click.prevent="deleteImage"
              v-if="this.previewImg"
              class="btn btn-danger"
              style="color:white;margin: 20px 0 20px 0px;"
              >Eliminar</a
            >
            <b-form-group id="fileInput" class="dragdrop" style="display: none">
              <b-form-file
                id="file"
                v-model="file"
                accept="image/jpeg, image/png, image/gif"
                placeholder
              ></b-form-file>
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>
      <b-col md="8">
        <b-row>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Nombre") }}</p>
            <b-form-input
              class="form-control"
              :placeholder="$t('Default name')"
              v-model.trim="$v.form.name.$model"
            />
            <b-alert
              show
              variant="danger"
              class="error col-md-6 mt-1"
              v-if="!$v.form.name.required && submitStatus != null"
              >{{ $t("El nombre es requerido") }}</b-alert
            >
            <b-alert
              show
              variant="danger"
              class="error col-md-6 mt-1"
              v-if="!$v.form.name.minLength && submitStatus != null"
              >{{ $t("El nombre debe tener al menos 3 caracteres") }}</b-alert
            >
          </b-col>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Acrónimo") }}</p>
            <b-form-input class="form-control" v-model="form.acronym" />
          </b-col>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Teléfonos") }}</p>
            <the-mask
              class="form-control"
              :mask="['(###) ###-####']"
              placeholder="(809) 999-9999"
              v-model="form.phone"
            />
          </b-col>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("RNC") }}</p>
            <the-mask
              class="form-control"
              :mask="['###-#####-#']"
              placeholder="000-00000-0"
              v-model="form.rnc"
            />
          </b-col>
          <b-col md="12" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Dirección") }}</p>
            <b-form-input class="form-control" v-model="form.address" />
          </b-col>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Email") }}</p>
            <b-form-input
              type="email"
              class="form-control"
              placeholder="empresa@gmail.com"
              v-model="form.email"
            />
          </b-col>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Url") }}</p>
            <b-form-input class="form-control" v-model="form.url" />
          </b-col>
        </b-row>
      </b-col>

      <b-button variant="primary" @click="onSubmit">{{
        $t("Guardar")
      }}</b-button>
    </b-form>
  </b-row>
</template>
<script>
import { required, minLength } from "vuelidate/lib/validators";
import { Axios, Server } from "@/data/config";
export default {
  data() {
    return {
      previewImg: null,
      name: "",
      file: null,
      id: null,
      form: {
        name: "",
        acronym: "",
        phone: "",
        address: "",
        logo: "",
        url: "",
        rnc: "",
        email: "",
        password: ""
      },
      submitStatus: null
    };
  },

  validations: {
    form: {
      name: {
        required,
        minLength: minLength(3)
      }
    }
  },
  async created() {
    const company = await Axios.get("/api/company", {
      headers: {
        Authorization: JSON.parse(localStorage.getItem("token"))
      }
    });
    this.id = company.data.id;
    this.form.name = company.data.name;
    this.form.acronym = company.data.acronym;
    this.form.phone = company.data.phone;
    this.form.address = company.data.address;
    this.form.url = company.data.url;
    this.form.rnc = company.data.rnc;
    this.form.email = company.data.email;
    this.form.password = company.data.password;

    if (company.data.logo) {
      const img = document.createElement("img");
      img.classList.add("obj");
      img.src = Server + company.data.logo;
      this.previewImg = img;
      setTimeout(() => {
        this.$refs.preview.appendChild(img);
      }, 0.5);
    }
  },
  watch: {
    file(val) {
      if (!val) return;
      if (this.previewImg) {
        this.previewImg.remove();
      }
      const img = document.createElement("img");
      img.classList.add("obj");
      img.file = this.file;
      this.previewImg = img;
      this.$refs.preview.appendChild(img);

      this.hasImage = true;

      const fileReader = new FileReader();
      fileReader.onload = e => {
        this.previewImg.src = e.target.result;
        // console.log(e.target.result);
      };
      fileReader.readAsDataURL(this.file);
    }
  },
  methods: {
    openImage() {
      let v = document.getElementById("file");
      v.click();
    },
    deleteImage() {
      this.previewImg.remove();
      this.previewImg = null;
      this.file = null;
      Axios.get("api/company/deleteImage/" + this.id);
    },
    onSubmit() {
      let img = this.previewImg ? this.previewImg.src.split(",")[1] : null;
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        Axios.post(
          "api/company",
          {
            name: this.form.name,
            acronym: this.form.acronym,
            phone: this.form.phone,
            address: this.form.address,
            logo: img,
            url: this.form.url,
            rnc: this.form.rnc,
            email: this.form.email
          },
          {
            headers: {
              Authorization: JSON.parse(localStorage.getItem("token"))
            }
          }
        )
          .then(response => {
            console.log(response);
            if (response.status == 200) {
              this.$bvToast.toast(this.$t("Datos Actualizados"), {
                title: this.$t("Success"),
                variant: "success",
                solid: true
              });
            } else {
              this.$bvToast.toast(response.data.message, {
                title: this.$t("Error ") + response.status,
                variant: "danger",
                solid: true
              });
            }
          })
          .catch(error => {
            console.log(error.response);
            if (error.response) {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            } else {
              this.$bvToast.toast(this.$t("Error "), {
                title: this.$t("Error "),
                variant: "danger",
                solid: true
              });
            }
          });
      }
    },
    onReset() {
      this.form.name = "";
      this.form.acronym = "";
      this.form.phone = "";
      this.form.address = "";
      this.form.logo = "";
      this.form.url = "";
      this.form.rnc = "";
      this.form.email = "";
      this.form.password = "";
    }
  }
};
</script>
