<template>
  <b-row>
    <b-form @submit="onSubmit" @reset="onReset" class="row">
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Driver") }}</p>
        <b-form-input
          class="form-control"
          :placeholder="$t('Driver')"
          v-model="form.name"
        />
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Host") }}</p>
        <b-form-input class="form-control" />
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Port") }}</p>
        <the-mask
          class="form-control"
          :mask="['(###) ###-####']"
          placeholder="(809) 999-9999"
        />
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("From Address") }}</p>
        <b-form-input class="form-control" />
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("From Name") }}</p>
        <b-form-input class="form-control" />
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Username") }}</p>
        <the-mask
          class="form-control"
          :mask="['###-#####-#']"
          placeholder="000-00000-0"
        />
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Password") }}</p>
        <b-form-input
          type="email"
          class="form-control"
          placeholder="empresa@gmail.com"
        />
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Encryption") }}</p>
        <input class="form-control" type="password" />
      </b-col>
      <b-button variant="primary" @click="onSubmit">{{
        $t("Guardar")
      }}</b-button>
    </b-form>
  </b-row>
</template>
<script>
import { Axios } from "@/data/config";
export default {
  data() {
    return {
      form: {
        name: "",
        acronym: "",
        phone: "",
        address: "",
        logo: "",
        url: "",
        rnc: "",
        email: "",
        password: ""
      }
    };
  },
  methods: {
    onSubmit() {
      Axios.post("api/company", { name: this.form.name })
        .then(response => {
          if (response.status == 200) {
            this.$bvToast.toast(this.$t("Datos Guardados"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          console.log(error.response);
          if (error.response) {
            this.$bvToast.toast(
              error.response.data.message || error.response.statusText,
              {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              }
            );
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    onReset() {
      this.form.name = "";
      this.form.acronym = "";
      this.form.phone = "";
      this.form.address = "";
      this.form.logo = "";
      this.form.url = "";
      this.form.rnc = "";
      this.form.email = "";
      this.form.password = "";
    }
  }
};
</script>
