<template>
  <b-form @submit="onSubmit" @reset="onReset" class="row">
    <b-col md="12" class="mb-3">
      <p class="font-weight-400 mb-2">
        {{ $t("Cliente Default")
        }}<span class="text-danger font-weight-bolder">*</span>
      </p>
      <b-form-select
        v-model="form.client_id"
        :options="ClientsList"
        value-field="id"
        text-field="name"
        id="inline-form-custom-select-pref"
      ></b-form-select>
    </b-col>
    <b-col md="12" class="mb-3">
      <p class="font-weight-400 mb-2">
        {{ $t("Vendedor Default")
        }}<span class="text-danger font-weight-bolder">*</span>
      </p>

      <b-form-select
        v-model="form.employee_id"
        :options="EmployeesList"
        value-field="id"
        text-field="name"
        id="inline-form-custom-select-pref"
      ></b-form-select>
    </b-col>
    <b-col md="12" class="mb-3">
      <p class="font-weight-400 mb-2">
        {{ $t("Forma de pago")
        }}<span class="text-danger font-weight-bolder">*</span>
      </p>

      <b-form-select
        v-model="form.payment_type_id"
        :options="PaymentTypesList"
        value-field="id"
        text-field="name"
        id="inline-form-custom-select-pref"
      ></b-form-select>
    </b-col>

    <b-button variant="primary" @click="onSubmit">{{ $t("Guardar") }}</b-button>
  </b-form>
</template>
<script>
import { Axios } from "@/data/config";
export default {
  data() {
    return {
      form: {
        client_id: null,
        payment_type_id: null,
        employee_id: null
      },
      ClientsList: [],
      EmployeesList: [],
      PaymentTypesList: []
    };
  },
  methods: {
    onSubmit() {
      Axios.put("api/invoiceconfig/" + this.EmployeesList[0].company_id, {
        client_id: this.form.client_id,
        payment_type_id: this.form.payment_type_id,
        employee_id: this.form.employee_id
      })
        .then(response => {
          if (response.status == 200) {
            this.$bvToast.toast(this.$t("Datos Guardados"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          console.log(error.response);
          if (error.response) {
            this.$bvToast.toast(
              error.response.data.message || error.response.statusText,
              {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              }
            );
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    onReset() {}
  },
  async created() {
    const ClientsList = await Axios.get("/api/aclients");
    const EmployeesList = await Axios.get("/api/asemployees");
    const PaymentTypesList = await Axios.get("/api/apaymenttypes");
    const Configs = await Axios.get("/api/invoiceconfig");

    this.ClientsList = ClientsList.data;
    this.EmployeesList = EmployeesList.data;
    this.PaymentTypesList = PaymentTypesList.data;

    this.form.client_id = Configs.data.client_id;
    this.form.payment_type_id = Configs.data.payment_type_id;
    this.form.employee_id = Configs.data.employee_id;
  }
};
</script>
