<template>
  <div class="main-content">
    <breadcumb :page="'Contact Grid'" :folder="'Apps'" />
    <div class="ul-contact-page">
      <div class="row">
        <b-col lg="12" md="12" class=" mb-30 text-center">
          <b-form-group id="input-group-2" label-for="input-2">
            <b-form-input
              id="input-2"
              class="ul-form-input"
              placeholder="Enter your name...."
            ></b-form-input>
          </b-form-group>
        </b-col>

        <b-col lg="6" xl="4" md="6" class="mb-30">
          <div class="card">
            <div class="card-body">
              <div class="ul-contact-page__profile">
                <div class="user-profile-img">
                  <img
                    class="profile-picture mb-2"
                    src="@/assets/images/faces/1.jpg"
                    alt=""
                  />
                </div>
                <div class="ul-contact-page__info">
                  <p class="m-0 text-24">Timothy Carlson</p>
                  <p class="text-muted m-0">Digital Marketer</p>
                  <p class="text-muted mt-3">
                    DieSachbearbeiter Choriner Straße 49 10435 Berlin
                  </p>

                  <p class="text-muted mt-3">NO: 234-987-665-340</p>
                </div>
              </div>
            </div>
          </div>
        </b-col>

        <b-col lg="6" xl="4" md="6" class="mb-30">
          <div class="card">
            <div class="card-body">
              <div class="ul-contact-page__profile">
                <div class="user-profile-img">
                  <img
                    class="profile-picture mb-2"
                    src="@/assets/images/faces/2.jpg"
                    alt=""
                  />
                </div>
                <div class="ul-contact-page__info">
                  <p class="m-0 text-24">Jaret Leto</p>
                  <p class="text-muted m-0">Web Developer</p>
                  <p class="text-muted mt-3">
                    DieSachbearbeiter Choriner Straße 49 10435 Berlin
                  </p>

                  <p class="text-muted mt-3">NO: 234-987-665-340</p>
                </div>
              </div>
            </div>
          </div>
        </b-col>

        <b-col lg="6" xl="4" md="6" class="mb-30">
          <div class="card">
            <div class="card-body">
              <div class="ul-contact-page__profile">
                <div class="user-profile-img">
                  <img
                    class="profile-picture mb-2"
                    src="@/assets/images/faces/3.jpg"
                    alt=""
                  />
                </div>
                <div class="ul-contact-page__info">
                  <p class="m-0 text-24">Timothy Carlson</p>
                  <p class="text-muted m-0">Digital Marketer</p>
                  <p class="text-muted mt-3">
                    DieSachbearbeiter Choriner Straße 49 10435 Berlin
                  </p>

                  <p class="text-muted mt-3">NO: 234-987-665-340</p>
                </div>
              </div>
            </div>
          </div>
        </b-col>

        <b-col lg="6" xl="4" md="6" class="mb-30">
          <b-card>
            <div class="ul-contact-page__profile">
              <div class="user-profile-img">
                <img
                  class="profile-picture mb-2"
                  src="@/assets/images/faces/4.jpg"
                  alt=""
                />
              </div>
              <div class="ul-contact-page__info">
                <p class="m-0 text-24">Timothy Carlson</p>
                <p class="text-muted m-0">Digital Marketer</p>
                <p class="text-muted mt-3">
                  DieSachbearbeiter Choriner Straße 49 10435 Berlin
                </p>

                <p class="text-muted mt-3">NO: 234-987-665-340</p>
              </div>
            </div>
          </b-card>
        </b-col>

        <b-col lg="6" xl="4" md="6" class="mb-30">
          <b-card>
            <div class="ul-contact-page__profile">
              <div class="user-profile-img">
                <img
                  class="profile-picture mb-2"
                  src="@/assets/images/faces/5.jpg"
                  alt=""
                />
              </div>
              <div class="ul-contact-page__info">
                <p class="m-0 text-24">Timothy Carlson</p>
                <p class="text-muted m-0">Digital Marketer</p>
                <p class="text-muted mt-3">
                  DieSachbearbeiter Choriner Straße 49 10435 Berlin
                </p>

                <p class="text-muted mt-3">NO: 234-987-665-340</p>
              </div>
            </div>
          </b-card>
        </b-col>

        <b-col lg="6" xl="4" md="6" class="mb-30">
          <b-card>
            <div class="ul-contact-page__profile">
              <div class="user-profile-img">
                <img
                  class="profile-picture mb-2"
                  src="@/assets/images/faces/1.jpg"
                  alt=""
                />
              </div>
              <div class="ul-contact-page__info">
                <p class="m-0 text-24">Timothy Carlson</p>
                <p class="text-muted m-0">Digital Marketer</p>
                <p class="text-muted mt-3">
                  DieSachbearbeiter Choriner Straße 49 10435 Berlin
                </p>

                <p class="text-muted mt-3">NO: 234-987-665-340</p>
              </div>
            </div>
          </b-card>
        </b-col>

        <b-col lg="6" xl="4" md="6" class="mb-30">
          <div class="card">
            <div class="card-body">
              <div class="ul-contact-page__profile">
                <div class="user-profile-img">
                  <img
                    class="profile-picture mb-2"
                    src="@/assets/images/faces/2.jpg"
                    alt=""
                  />
                </div>
                <div class="ul-contact-page__info">
                  <p class="m-0 text-24">Jaret Leto</p>
                  <p class="text-muted m-0">Web Developer</p>
                  <p class="text-muted mt-3">
                    DieSachbearbeiter Choriner Straße 49 10435 Berlin
                  </p>

                  <p class="text-muted mt-3">NO: 234-987-665-340</p>
                </div>
              </div>
            </div>
          </div>
        </b-col>

        <b-col lg="6" xl="4" md="6" class="mb-30">
          <div class="card">
            <div class="card-body">
              <div class="ul-contact-page__profile">
                <div class="user-profile-img">
                  <img
                    class="profile-picture mb-2"
                    src="@/assets/images/faces/3.jpg"
                    alt=""
                  />
                </div>
                <div class="ul-contact-page__info">
                  <p class="m-0 text-24">Timothy Carlson</p>
                  <p class="text-muted m-0">Digital Marketer</p>
                  <p class="text-muted mt-3">
                    DieSachbearbeiter Choriner Straße 49 10435 Berlin
                  </p>

                  <p class="text-muted mt-3">NO: 234-987-665-340</p>
                </div>
              </div>
            </div>
          </div>
        </b-col>

        <b-col lg="6" xl="4" md="6" class="mb-30">
          <b-card>
            <div class="ul-contact-page__profile">
              <div class="user-profile-img">
                <img
                  class="profile-picture mb-2"
                  src="@/assets/images/faces/4.jpg"
                  alt=""
                />
              </div>
              <div class="ul-contact-page__info">
                <p class="m-0 text-24">Timothy Carlson</p>
                <p class="text-muted m-0">Digital Marketer</p>
                <p class="text-muted mt-3">
                  DieSachbearbeiter Choriner Straße 49 10435 Berlin
                </p>

                <p class="text-muted mt-3">NO: 234-987-665-340</p>
              </div>
            </div>
          </b-card>
        </b-col>

        <b-col lg="6" xl="4" md="6" class="mb-30">
          <b-card>
            <div class="ul-contact-page__profile">
              <div class="user-profile-img">
                <img
                  class="profile-picture mb-2"
                  src="@/assets/images/faces/5.jpg"
                  alt=""
                />
              </div>
              <div class="ul-contact-page__info">
                <p class="m-0 text-24">Timothy Carlson</p>
                <p class="text-muted m-0">Digital Marketer</p>
                <p class="text-muted mt-3">
                  DieSachbearbeiter Choriner Straße 49 10435 Berlin
                </p>

                <p class="text-muted mt-3">NO: 234-987-665-340</p>
              </div>
            </div>
          </b-card>
        </b-col>
      </div>
    </div>
  </div>
</template>
