<template>
  <div class="main-content">
    <breadcumb
      :page="$t('Ordenes')"
      :folder="$t('Ingresos')"
      :route="$t('Listado')"
    />

    <b-card class="wrapper">
      <div class="col text-right">
        <router-link
          tag="a"
          to="/app/income/orders/add"
          class="btn btn-primary ripple m-1"
        >
          Agregar
        </router-link>

        <vue-good-table
          :columns="columns"
          :search-options="{
            enabled: true,
            placeholder: $t('Filtrar Orden')
          }"
          :pagination-options="{
            enabled: true,
            mode: 'records'
          }"
          styleClass="tableOne vgt-table"
          :rows="rows"
        >
          <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'accion'">
              <span
                ><a
                  v-if="props.row.state_id === 1"
                  title="Imprimir Orden"
                  style="cursor:pointer"
                  @click="print(props.row.id)"
                  ><i class="i-File-Word text-25 text-success mr-2"></i> </a
                ><a
                  title="Anular Orden"
                  @click="deleteF(props.row.id)"
                  style="cursor:pointer"
                  ><i class="i-Close-Window text-25 text-danger  mr-2"></i>
                </a>
                <router-link
                  v-if="props.row.state_id === 1"
                  :to="{
                    path: '/app/income/invoice/add/' + props.row.id
                  }"
                  tag="a"
                  ><i class="i-File-Copy text-25 text-primary"></i>
                </router-link>
              </span>
            </span>
            <span v-else-if="props.column.field == 'state_id'">
              <a
                href="#"
                v-if="props.row.state_id === 1"
                target="_self"
                class="badge badge-success p-2 m-1 badge-pill"
                >Activa</a
              >
              <a
                href="#"
                v-if="props.row.state_id === 3"
                target="_self"
                class="badge badge-danger p-2 m-1 badge-pill"
                >Anulada</a
              >
            </span>
            <span v-else-if="props.column.field == 'total'">
              {{ props.row.total | currency("") }}
            </span>
          </template>
        </vue-good-table>
      </div>
    </b-card>

    <div>
      <b-modal
        id="modal-order-pdf"
        size="lg"
        title="Pedido"
        style="overflow-x:scroll"
      >
        <vue-html2pdf
          :show-layout="false"
          :float-layout="false"
          :enable-download="true"
          :preview-modal="false"
          :paginate-elements-by-height="1400"
          filename="orden"
          :pdf-quality="2"
          :manual-pagination="false"
          pdf-format="a4"
          pdf-orientation="portrait"
          pdf-content-width="auto"
          @hasStartedGeneration="hasStartedGeneration()"
          @hasGenerated="hasGenerated($event)"
          ref="orderPDF"
          :htmlToPdfOptions="htmlToPdfOptions"
        >
          <section slot="pdf-content">
            <section class="pdf-item">
              <order-report></order-report>
            </section>
          </section>
        </vue-html2pdf>
        <div slot="modal-footer" class="w-100">
          <b-button variant="primary" @click="printPDF">
            {{ $t("PDF") }}
          </b-button>
          <b-button variant="default" @click="cancelar">{{
            $t("Cancelar")
          }}</b-button>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
import { Axios, Server } from "@/data/config";
import VueHtml2pdf from "vue-html2pdf";
import orderReport from "../../reports/incomes/orderPDF";
import { mapActions } from "vuex";

export default {
  metaInfo: {
    title: "Listado de Ordenes"
  },
  components: {
    VueHtml2pdf,
    orderReport
  },
  data() {
    return {
      htmlToPdfOptions: {
        html2canvas: {
          useCORS: true
        }
      },
      editCategory: {
        name: null,
        description: null,
        image: null
      },
      server: Server,
      action: 1,
      columns: [
        {
          label: "Número de Orden",
          field: "number",
          sortable: true
        },
        {
          label: "Nombre Cliente",
          field: "client_name",
          type: "String"
        },
        {
          label: "Nombre Vendedor",
          field: "employee_name",
          type: "String",
          sortable: false
        },
        {
          label: "Nota",
          field: "note",
          type: "String",
          sortable: false
        },
        {
          label: "Fecha de Entrega",
          field: "deliver_date",
          type: "datetime",
          dateInputFormat: "yyyy-mm-dd",
          dateOutputFormat: "dd-mm-Y"
        },
        {
          label: "Total Factura",
          field: "total",
          type: "String",
          thClass: "text-right",
          tdClass: "text-right",
          sortable: false
        },
        {
          label: "Estado",
          field: "state_id",
          type: "String",
          sortable: false,
          thClass: "text-right",
          tdClass: "text-right"
        },
        {
          label: "Acción",
          field: "accion",
          html: true,
          thClass: "text-right",
          tdClass: "text-right",
          sortable: false
        }
      ],
      rows: []
    };
  },
  props: {
    success: Boolean
  },

  methods: {
    ...mapActions(["prepareForPrintOrder"]),
    print(id) {
      let self = this;
      this.prepareForPrintOrder(id).then(() => {
        // self.$refs.invoiceReport.generatePdf();

        self.$bvModal.show("modal-order-pdf");
      });
    },
    printPDF() {
      this.$refs.orderPDF.generatePdf();
    },
    cancelar() {
      this.$bvModal.hide("modal-order-pdf");
    },
    deleteF(data) {
      this.$swal({
        title: "Está seguro desea Anular la Orden?",
        text: "No podrá recuperarla!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Anular!"
      }).then(result => {
        if (result.value) {
          //this.$swal("Borrada!", "Categoria Eliminada.", "success");
          this.deleteClient(data);
        }
      });
    },

    deleteClient(data) {
      Axios.delete("api/orders/" + data)
        .then(response => {
          if (response.status == 200) {
            this.rows = response.data;
            this.$bvToast.toast(this.$t("Orden anulada"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.$bvToast.toast(error.response.data.error, {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    }
  },
  async created() {
    const orders = await Axios.get("/api/orders");
    this.rows = orders.data;
  },
  mounted() {
    if (this.success) {
      this.$bvToast.toast(this.$t("Orden Creada"), {
        title: this.$t("Felicidades!!"),
        variant: "success",
        solid: true
      });
    }
  }
};
</script>

<style></style>
