<template>
  <b-modal id="modal-lg" size="lg" title="Agregar Impuesto">
    <b-form
      @submit="onSubmit"
      @reset="onReset"
      class="row"
      enctype="multipart/form-data"
      autocomplet="off"
    >
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Nombre") }}</p>
        <b-form-input
          :class="['form-control', { 'is-invalid': this.errorFor('name') }]"
          v-model.trim="name"
        />
        <b-alert
          v-for="(error, key) in errorFor('name')"
          :key="key"
          show
          variant="danger"
          class="error col-md-12 mt-1"
          >{{ error }}</b-alert
        >
        <b-alert
          show
          variant="danger"
          class="error col-md-12 mt-1"
          v-if="!$v.name.required && submitStatus != null"
          >{{ $t("El nombre es requerido") }}</b-alert
        >
        <b-alert
          show
          variant="danger"
          class="error col-md-12 mt-1"
          v-if="!$v.name.minLength && submitStatus != null"
          >{{ $t("El nombre debe tener al menos 3 caracteres") }}</b-alert
        >
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Taza") }}</p>
        <b-form-input
          :class="['form-control', { 'is-invalid': this.errorFor('rate') }]"
          v-model.trim="rate"
          type="number"
        />
        <b-alert
          v-for="(error, key) in errorFor('rate')"
          :key="key"
          show
          variant="danger"
          class="error col-md-12 mt-1"
          >{{ error }}</b-alert
        >
        <b-alert
          show
          variant="danger"
          class="error col-md-12 mt-1"
          v-if="!$v.rate.required && submitStatus != null"
          >{{ $t("El código es requerido") }}</b-alert
        >
      </b-col>
      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Descripción") }}</p>
        <b-form-textarea
          class="form-control"
          id="textarea"
          v-model.trim="description"
          rows="4"
          max-rows="4"
        ></b-form-textarea>
        <b-alert
          v-for="(error, key) in errorFor('description')"
          :key="key"
          show
          variant="danger"
          class="error col-md-12 mt-1"
          >{{ error }}</b-alert
        >
      </b-col>

      <b-col md="6" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Estado") }}</p>

        <b-form-select
          v-model="state"
          :options="{ '1': 'Activo', '2': 'Inactivo' }"
          id="inline-form-custom-select-pref"
        >
        </b-form-select>
      </b-col>
    </b-form>
    <div slot="modal-footer" class="w-100">
      <b-button v-if="action == 1" variant="primary" @click="onSubmit">{{
        $t("Guardar")
      }}</b-button>
      <b-button v-if="action == 2" variant="primary" @click="onUpdate">{{
        $t("Actualizar")
      }}</b-button>
      <b-button variant="default" @click="cancelar">
        {{ $t("Cancelar") }}
      </b-button>
    </div>
  </b-modal>
</template>
<script>
import { required, minLength } from "vuelidate/lib/validators";
import { Axios } from "@/data/config";

export default {
  data() {
    return {
      name: null,
      description: null,
      state: 1,
      id: null,
      status: null,
      errors: [],
      rate: null,
      submitStatus: null
    };
  },
  components: {},

  validations: {
    name: {
      required,
      minLength: minLength(3)
    },
    rate: {
      required
    }
  },
  computed: {
    hasErrors() {
      return 422 === this.status && this.errors !== null;
    }
  },
  props: {
    category: Object,
    action: Number
  },
  created() {
    this.$root.$on("bv::modal::show", () => {
      if (this.category && this.action == 2) {
        this.id = this.category.id;
        this.name = this.category.name;
        this.rate = this.category.rate;
        this.description = this.category.description;
        this.state = this.category.state_id;
      }
    });
    this.$root.$on("bv::modal::hidden", () => {
      this.onReset();
    });
  },
  methods: {
    onSubmit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        Axios.post("api/rates", {
          name: this.name,
          rate: this.rate,
          description: this.description,
          state_id: this.state
        })
          .then(response => {
            if (response.status == 200) {
              this.$bvToast.toast(this.$t("Impuesto Agregado"), {
                title: this.$t("Success"),
                variant: "success",
                solid: true
              });
              this.cancelar();
              this.$emit("saved", response.data);
            } else {
              this.$bvToast.toast(response.data.message, {
                title: this.$t("Error ") + response.status,
                variant: "danger",
                solid: true
              });
            }
          })
          .catch(error => {
            if (error.response) {
              if (422 === error.response.status) {
                console.log(error.response.data.errors);
                this.errors = error.response.data.error;
                this.status = 422;
                this.$bvToast.toast("Error de Datos", {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                });
              } else {
                this.$bvToast.toast(
                  error.response.data.error || error.response.statusText,
                  {
                    title: this.$t("Error ") + error.response.status,
                    variant: "danger",
                    solid: true
                  }
                );
              }
            } else {
              this.$bvToast.toast(this.$t("Error "), {
                title: this.$t("Error "),
                variant: "danger",
                solid: true
              });
            }
          });
      }
    },
    onUpdate() {
      Axios.put("/api/rates/" + this.id, {
        name: this.name,
        rate: this.rate,
        description: this.description,
        state_id: this.state
      })
        .then(response => {
          if (response.status == 200) {
            this.$bvToast.toast(this.$t("Impuesto Actualizada"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
            this.cancelar();
            this.$emit("saved", response.data);
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.errors = error.response.data.error;
              this.status = 422;
              this.$bvToast.toast("Error de Datos", {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    errorFor(field) {
      return this.errors[field] ? this.errors[field] : null;
    },
    onReset() {
      this.name = "";
      this.rate = "";
      this.state_id = 1;
      this.description = "";
      this.status = null;
      this.errors = [];
    },
    cancelar() {
      this.$bvModal.hide("modal-lg");
      this.onReset();
    }
  }
};
</script>
<style></style>
