<template>
  <div>
    <router-view></router-view>

    <!-- customizador -->
    <!-- <customizer></customizer> -->
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["getThemeMode"]),
    themeName() {
      return this.getThemeMode.dark ? "dark-theme" : " ";
    },
    rtl() {
      return this.getThemeMode.rtl ? "rtl" : " ";
    }
  },
  metaInfo() {
    return {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: "Facturas",
      // all titles will be injected into this template
      titleTemplate: "%s | Sistema de Facturas",
      bodyAttrs: {
        class: [this.themeName]
      },
      htmlAttrs: {
        dir: this.rtl
      }
    };
  }
};
</script>

<style></style>
