<template>
  <b-col lg="12" xl="12">
    <b-card
      :header="$t('Configuración Subscripcion')"
      header-bg-variant="transparent"
    >
      <div>
        <b-tabs content-class="mt-3">
          <b-tab :title="$t('Planes')" active>
            <div class="row">
              <div class="col-md-12 col-lg-6 col-xl-6">
                <div class="ul-pricing__table-1">
                  <div class="ul-pricing__image card-icon-bg-primary">
                    <i class="i-Calendar-4"></i>
                  </div>
                  <div class="ul-pricing__title">
                    <h2 class="heading text-primary">Mensual</h2>
                  </div>
                  <div class="ul-pricing__text text-mute">dolares</div>
                  <div class="ul-pricing__main-number">
                    <h3 class="heading display-3 text-primary t-font-boldest">
                      $15
                    </h3>
                  </div>
                  <div class="ul-pricing__list">
                    <p>
                      Plan de subscripción Mensual,
                    </p>
                  </div>
                  <div style="width:50%;margin:auto" ref="paypalA"></div>
                  <!-- <button
                    @click="chan = !chan"
                    type="button"
                    class="btn btn-lg btn-primary btn-rounded m-1"
                  >
                    Subscribirse
                  </button> -->
                </div>
              </div>
              <div class="col-md-12 col-lg-6 col-xl-6">
                <div class="ul-pricing__table-1">
                  <div class="ul-pricing__image card-icon-bg-primary">
                    <i class="i-Calendar"></i>
                  </div>
                  <div class="ul-pricing__title">
                    <h2 class="heading text-primary">Anual</h2>
                  </div>
                  <div class="ul-pricing__text text-mute">dolares</div>
                  <div class="ul-pricing__main-number">
                    <h3 class="heading display-3 text-primary t-font-boldest">
                      $150
                    </h3>
                  </div>
                  <div class="ul-pricing__list">
                    <p>
                      Plan de subscripción Anual,
                    </p>
                  </div>
                  <div style="width:50%;margin:auto" ref="paypalB"></div>
                  <!-- <button
                    type="button"
                    class="btn btn-lg btn-primary btn-rounded m-1"
                  >
                    Subscribirse
                  </button> -->
                </div>
              </div>
            </div>
          </b-tab>
          <b-tab :title="$t('Historial de Pagos')">
            <vue-good-table
              :columns="columns"
              :search-options="{
                enabled: true,
                placeholder: $t('Filtrar Factura')
              }"
              :pagination-options="{
                enabled: true,
                mode: 'records'
              }"
              styleClass="tableOne vgt-table"
              :rows="rows"
            >
              <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'accion'">
                  <span
                    ><a style="cursor:pointer"
                      ><i class="i-File-Word text-25 text-success mr-2"></i> </a
                  ></span>
                </span>
                <span v-else-if="props.column.field == 'total'">
                  {{ props.row.total | currency("") }}
                </span>
              </template>
            </vue-good-table>
          </b-tab>
          <!-- <b-tab :title="$t('Facturas')"> </b-tab> -->
        </b-tabs>
      </div>
    </b-card>
  </b-col>
</template>
<script>
import { Axios } from "@/data/config";

export default {
  data() {
    return {
      month: "P-90T58989FN5087604MAV7KJI",
      year: "P-55B971725Y7223105MAV7L2Y",
      columns: [
        {
          label: "Referencia",
          field: "reference",
          type: "String",
          sortable: false
        },
        {
          label: "Fecha Pago",
          field: "date",
          type: "dateTime",
          dateInputFormat: "yyyy-mm-dd",
          dateOutputFormat: "Do MMM  yy"
        },
        {
          label: "Fecha Expiración",
          field: "expiration_date",
          type: "dateTime",
          dateInputFormat: "yyyy-mm-dd",
          dateOutputFormat: "Do MMM  yy"
        },
        {
          label: "Total Pagado",
          field: "amount_paid",
          type: "String",
          thClass: "text-right",
          tdClass: "text-right",
          sortable: false
        },
        // {
        //   label: "Acción",
        //   field: "accion",
        //   html: true,
        //   thClass: "text-right",
        //   tdClass: "text-right",
        //   sortable: false
        // }
      ],
      rows: []
    };
  },
  mounted: function() {
    const script = document.createElement("script");
    const Vault = "true";
    const Intent = "subscription";
    //const SandBox = "AfVkjh22aMCgnT-NV2Rr9F8pKeDcH-q5bOZSZnIEYfCnqcm6H5ehYdBROPegqLE9KIYIR-wXCp9ksu_S";
    const ClientID =
      "AaKjzLg_FBIM1C-d85Hy8rVJxx2nu7sS0gkuekLf4QaGqBMQhzkAkEb3J1soPiSGzPHf00dxRWsEpHJ8";
    script.src = `https://www.paypal.com/sdk/js?client-id=${ClientID}&vault=${Vault}&intent=${Intent}`;
    script.addEventListener("load", this.setLoaded);
    document.body.appendChild(script);

    if (this.$route.params.msg == 1) {
      this.$bvToast.toast("Su Cuenta ha expirado necesita hacer un pago", {
        title: "Cuenta Expirada",
        variant: "danger",
        solid: true
      });
    }
  },
  async created() {
    const payments = await Axios.get("/api/payments");
    this.rows = payments.data;
  },
  methods: {
    saveTransaction(data) {
      // var data = {
      //   id: "I-KK24TMKLGR0P",
      //   plan_id: "P-2UF78835G6983425GLSM44MA",
      //   start_time: "2020-02-27T06:00:00Z",
      //   subscriber: {
      //     name: {
      //       given_name: "John",
      //       surname: "Doe"
      //     },
      //     email_address: "customer@example.com"
      //   },
      //   create_time: "2020-02-26T07:37:44Z"
      // };
      Axios.post("/api/payments", {
        reference: data.id,
        payment_period_id: data.plan_id == "P-90T58989FN5087604MAV7KJI" ? 1 : 2,
        date: data.start_time,
        email: data.subscriber.email_address
      }).then(response => {
        console.log(response);
        this.$bvToast.toast("La subscripcion se ha realizado con exito", {
          title: "Pago Realizado",
          variant: "success",
          solid: true
        });
      });
    },
    setLoaded: function() {
      window.paypal
        .Buttons({
          style: {
            shape: "rect",
            color: "white",
            layout: "vertical",
            label: "subscribe"
          },
          createSubscription: function(data, actions) {
            return actions.subscription.create({
              plan_id: "P-55B971725Y7223105MAV7L2Y"
            });
          },
          onApprove: async data => {
            this.saveTransaction(data);
          },
          onError: err => {
            console.log(err);
          }
        })
        .render(this.$refs.paypalB);

      window.paypal
        .Buttons({
          style: {
            shape: "rect",
            color: "white",
            layout: "vertical",
            label: "subscribe"
          },
          createSubscription: function(data, actions) {
            return actions.subscription.create({
              plan_id: "P-90T58989FN5087604MAV7KJI"
            });
          },
          //   onApprove: async (data, actions) => {
          onApprove: async data => {
            this.saveTransaction(data);
          },
          onError: err => {
            console.log(err);
          }
        })
        .render(this.$refs.paypalA);
    }
  },
  computed: {}
};
</script>
