<template>
  <div>
    <b-form @submit="onSubmit" @reset="onReset" class="row">
      <b-col md="6">
        <b-row>
          <b-col md="12" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("contraseña Actual") }}</p>
            <b-input
              class="form-control"
              type="password"
              :class="[
                'form-control',
                { 'is-invalid': this.errorFor('current_password') }
              ]"
              v-model="form.current_password"
            />
            <b-alert
              v-for="(error, key) in errorFor('current_password')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="12" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Contraseña Nueva") }}</p>
            <b-input
              type="password"
              class="form-control"
              :class="[
                'form-control',
                { 'is-invalid': this.errorFor('new_password') }
              ]"
              v-model="form.new_password"
            />
            <b-alert
              v-for="(error, key) in errorFor('new_password')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="12" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Repita la Contraseña") }}</p>
            <b-input
              type="password"
              class="form-control"
              :class="[
                'form-control',
                { 'is-invalid': this.errorFor('new_confirm_password') }
              ]"
              v-model="form.new_confirm_password"
            />
            <b-alert
              v-for="(error, key) in errorFor('new_confirm_password')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
        </b-row>
        <b-button variant="primary" @click="onSubmit">{{
          $t("Guardar")
        }}</b-button>
      </b-col>
    </b-form>
  </div>
</template>
<script>
import { Axios } from "@/data/config";
export default {
  data() {
    return {
      errors: [],
      form: {
        current_password: "",
        new_password: "",
        new_confirm_password: ""
      },
      submitStatus: null
    };
  },

  computed: {
    hasErrors() {
      return 422 === this.status && this.errors !== null;
    }
  },

  methods: {
    errorFor(field) {
      return this.errors[field] ? this.errors[field] : null;
    },
    onSubmit() {
      Axios.post("api/changepassword", {
        current_password: this.form.current_password,
        new_password: this.form.new_password,
        new_confirm_password: this.form.new_confirm_password
      })
        .then(response => {
          if (response.status == 200) {
            this.onReset();
            this.$bvToast.toast(this.$t("Datos Actualizados"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.errors = error.response.data.error;
              this.status = 422;
              this.$bvToast.toast("Error de Datos", {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    onReset() {
      this.errors = [];
      this.form.current_password = "";
      this.form.new_password = "";
      this.form.new_confirm_password = "";
    }
  }
};
</script>
