<template>
  <div>
    <b-form @submit="onSubmit" @reset="onReset" class="row">
      <b-col md="4">
        <b-row>
          <b-col md="12" class="mb-3" xs="12" xl="12">
            <p class="font-weight-400 mb-2">{{ $t("Imagen") }}</p>

            <div
              @click="openImage"
              ref="preview"
              id="preview"
              class="card o-hidden"
              style="border: 1px gray dashed;background:#d3d3d373;min-height: 240px;
          max-height: 240px;cursor:pointer"
            ></div>
            <a
              @click.prevent="deleteImage"
              v-if="this.previewImg"
              class="btn btn-danger"
              style="color:white;margin: 20px 0 20px 0px;"
              >Eliminar</a
            >
            <b-form-group id="fileInput" class="dragdrop" style="display: none">
              <b-form-file
                id="file"
                v-model="file"
                accept="image/jpeg, image/png, image/gif"
                placeholder
              ></b-form-file>
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>
      <b-col md="8">
        <b-row>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Nombre Completo") }}</p>

            <b-form-input
              class="form-control"
              :class="['form-control', { 'is-invalid': this.errorFor('name') }]"
              v-model.trim="form.name"
            />
            <b-alert
              v-for="(error, key) in errorFor('name')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
          <b-col md="6" class="mb-3">
            <p class="font-weight-400 mb-2">{{ $t("Email") }}</p>
            <b-form-input
              class="form-control"
              :class="[
                'form-control',
                { 'is-invalid': this.errorFor('email') }
              ]"
              v-model="form.email"
            />
            <b-alert
              v-for="(error, key) in errorFor('email')"
              :key="key"
              show
              variant="danger"
              class="error col-md-12 mt-1"
              >{{ error }}</b-alert
            >
          </b-col>
        </b-row>
      </b-col>

      <b-button variant="primary" @click="onSubmit">{{
        $t("Guardar")
      }}</b-button>
    </b-form>
  </div>
</template>
<script>
import { Axios } from "@/data/config";
import { mapMutations } from "vuex";
export default {
  data() {
    return {
      previewImg: null,
      name: "",
      errors: [],
      file: null,
      id: null,
      form: {
        name: "",
        email: "",
        image: ""
      },
      submitStatus: null
    };
  },

  async created() {
    const user = await Axios.get("/api/user");

    this.form.name = user.data.name;
    this.form.image = user.data.image;
    this.form.email = user.data.email;

    if (user.data.image) {
      const img = document.createElement("img");
      img.classList.add("obj");
      img.src = user.data.image;
      this.previewImg = img;
      setTimeout(() => {
        this.$refs.preview.appendChild(img);
      }, 0.5);
    }
  },
  watch: {
    file(val) {
      if (!val) return;
      if (this.previewImg) {
        this.previewImg.remove();
      }
      const img = document.createElement("img");
      img.classList.add("obj");
      img.file = this.file;
      this.previewImg = img;
      this.$refs.preview.appendChild(img);

      this.hasImage = true;

      const fileReader = new FileReader();
      fileReader.onload = e => {
        this.previewImg.src = e.target.result;
        // console.log(e.target.result);
      };
      fileReader.readAsDataURL(this.file);
    }
  },
  methods: {
    ...mapMutations(["editUser"]),
    errorFor(field) {
      return this.errors[field] ? this.errors[field] : null;
    },
    openImage() {
      let v = document.getElementById("file");
      v.click();
    },
    deleteImage() {
      this.previewImg.remove();
      this.previewImg = null;
      this.file = null;
      Axios.get("api/user/deleteImage/" + this.id);
    },
    onSubmit() {
      let img = this.previewImg ? this.previewImg.src.split(",")[1] : null;
      Axios.post("api/edituser", {
        name: this.form.name,
        email: this.form.email,
        image: img
      })
        .then(response => {
          if (response.status == 200) {
            this.onReset();
            this.editUser(response.data);
            this.$bvToast.toast(this.$t("Datos Actualizados"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.errors = error.response.data.error;
              this.status = 422;
              this.$bvToast.toast("Error de Datos", {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    onReset() {
      this.errors = [];
    }
  }
};
</script>
