<template>
  <b-modal id="modal-lg" size="lg" title="Agregar Atributo">
    <b-form
      @submit="onSubmit"
      @reset="onReset"
      class="row"
      enctype="multipart/form-data"
      autocomplet="off"
    >
      <b-col md="12" class="mb-3">
        <p class="font-weight-400 mb-2">
          {{ $t("Atributo")
          }}<span class="text-danger font-weight-bolder">*</span>
        </p>

        <b-form-select
          v-model="attribute_id"
          :options="attributes"
          value-field="id"
          text-field="name"
          id="inline-form-custom-select-pref"
        >
        </b-form-select>
      </b-col>
      <b-col md="12" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Nombre") }}</p>
        <b-form-input
          :class="['form-control', { 'is-invalid': this.errorFor('name') }]"
          v-model.trim="name"
        />
        <b-alert
          v-for="(error, key) in errorFor('name')"
          :key="key"
          show
          variant="danger"
          class="error col-md-12 mt-1"
          >{{ error }}</b-alert
        >
      </b-col>
      <b-col md="12" class="mb-3">
        <p class="font-weight-400 mb-2">{{ $t("Estado") }}</p>

        <b-form-select
          v-model="state"
          :options="{ '1': 'Activo', '2': 'Inactivo' }"
          id="inline-form-custom-select-pref"
        >
        </b-form-select>
      </b-col>
    </b-form>
    <div slot="modal-footer" class="w-100">
      <b-button v-if="action == 1" variant="primary" @click="onSubmit">{{
        $t("Guardar")
      }}</b-button>
      <b-button v-if="action == 2" variant="primary" @click="onUpdate">{{
        $t("Actualizar")
      }}</b-button>
      <b-button variant="default" @click="cancelar">
        {{ $t("Cancelar") }}
      </b-button>
    </div>
  </b-modal>
</template>
<script>
import { Axios } from "@/data/config";

export default {
  data() {
    return {
      name: null,
      state: 1,
      id: null,
      attribute_id: null,
      status: null,
      errors: [],
      attributes: [],
      submitStatus: null
    };
  },
  components: {},

  computed: {
    hasErrors() {
      return 422 === this.status && this.errors !== null;
    }
  },
  props: {
    category: Object,
    action: Number
  },
  created() {
    this.$root.$on("bv::modal::show", () => {
      if (this.category && this.action == 2) {
        this.id = this.category.id;
        this.name = this.category.name;
        this.state = this.category.state_id;
        this.attribute_id = this.category.attribute_id;
      }
    });
    this.$root.$on("bv::modal::hidden", () => {
      this.onReset();
    });
  },
   async mounted() {
    const attributes = await Axios.get("/api/aattributes");
    this.attributes = attributes.data;
  },
  methods: {
    onSubmit() {
      Axios.post("api/attributevalues", {
        name: this.name,
        state_id: this.state,
        attribute_id: this.attribute_id
      })
        .then(response => {
          if (response.status == 200) {
            this.$bvToast.toast(this.$t("Valor Atributo Agregado"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
            this.cancelar();
            this.$emit("saved", response.data);
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              console.log(error.response.data.errors);
              this.errors = error.response.data.error;
              this.status = 422;
              this.$bvToast.toast("Error de Datos", {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    onUpdate() {
      Axios.put("/api/attributevalues/" + this.id, {
        name: this.name,
        state_id: this.state,
        attribute_id: this.attribute_id
      })
        .then(response => {
          if (response.status == 200) {
            this.$bvToast.toast(this.$t("Valor Atributo Actualizado"), {
              title: this.$t("Success"),
              variant: "success",
              solid: true
            });
            this.cancelar();
            this.$emit("saved", response.data);
          } else {
            this.$bvToast.toast(response.data.message, {
              title: this.$t("Error ") + response.status,
              variant: "danger",
              solid: true
            });
          }
        })
        .catch(error => {
          if (error.response) {
            if (422 === error.response.status) {
              this.errors = error.response.data.error;
              this.status = 422;
              this.$bvToast.toast("Error de Datos", {
                title: this.$t("Error ") + error.response.status,
                variant: "danger",
                solid: true
              });
            } else {
              this.$bvToast.toast(
                error.response.data.error || error.response.statusText,
                {
                  title: this.$t("Error ") + error.response.status,
                  variant: "danger",
                  solid: true
                }
              );
            }
          } else {
            this.$bvToast.toast(this.$t("Error "), {
              title: this.$t("Error "),
              variant: "danger",
              solid: true
            });
          }
        });
    },
    errorFor(field) {
      return this.errors[field] ? this.errors[field] : null;
    },
    onReset() {
      this.name = "";
      this.state_id = 1;
      this.attribute_id = null;
      this.status = null;
      this.errors = [];
    },
    cancelar() {
      this.$bvModal.hide("modal-lg");
      this.onReset();
    }
  }
};
</script>
<style></style>
