<template>
  <div class="main-content">
    <breadcumb :page="'Entrada Inventario'" :folder="'Inventario'" />

    <div class="card chat-sidebar-container sidebar-container">
      <div class="chat-sidebar-wrap sidebar" :class="{ 'ml-0': isMobile }">
        <div class="border-right">
          <div
            class="pt-2 pb-2 pl-3 pr-3 d-flex align-items-center o-hidden box-shadow-1 chat-topbar"
          >
            <a class="link-icon d-md-none" @click="isMobile = !isMobile">
              <i class="icon-regular ml-0 mr-3 i-Left"></i>
            </a>
            <div class="form-group m-0 flex-grow-1">
              <input
                type="text"
                class="form-control form-control-rounded"
                id="search"
                v-model="search"
                placeholder="Search contacts"
              />
            </div>
          </div>

          <vue-perfect-scrollbar
            :settings="{ suppressScrollX: true, wheelPropagation: false }"
            class="contacts-scrollable perfect-scrollbar  rtl-ps-none ps scroll"
          >
            <div>
              <!-- <div
                class="mt-4 pb-2 pl-3 pr-3 font-weight-bold text-muted border-bottom"
              >
                Recent
              </div>
              <div
                class="p-3 d-flex border-bottom align-items-center contact"
                v-for="contact in getRecentUser"
                :key="contact.name"
                :class="contact.status"
              >
                <img
                  :src="contact.avatar"
                  alt=""
                  class="avatar-sm rounded-circle mr-3"
                />
                <h6 class="">{{ contact.name }}</h6>
              </div> -->

              <div
                class="mt-3 pb-2 pl-3 pr-3 font-weight-bold text-muted border-bottom"
              >
                Contacts
              </div>

              <div
                class="p-3 d-flex border-bottom align-items-center contact"
                v-for="product in filterProducts"
                :key="product.id"
                :class="product.status"
                @click="changeSelectedProduct(product.id)"
              >
                <img
                  :src="product.img"
                  alt=""
                  class="avatar-sm rounded-circle mr-3"
                />
                <h6 class="">{{ product.name }}</h6>
              </div>
            </div>
          </vue-perfect-scrollbar>
        </div>
      </div>
      <div class="chat-content-wrap sidebar-content">
        <div
          class="d-flex pl-3 pr-3 pt-2 pb-2 o-hidden box-shadow-1 chat-topbar"
        >
          <a class="link-icon d-md-none" @click="isMobile = !isMobile">
            <i class="icon-regular i-Right ml-0 mr-3"></i>
          </a>
          <div class="d-flex align-items-center">
            <img
              :src="getSelectedProduct.avatar"
              alt=""
              class="avatar-sm rounded-circle mr-2"
            />
            <p class="m-0 text-title text-16 flex-grow-1">
              {{ getSelectedProduct.name }}
            </p>
          </div>
        </div>
        <vue-perfect-scrollbar
          :settings="{ suppressScrollX: true, wheelPropagation: false }"
          class="chat-content perfect-scrollbar rtl-ps-none ps scroll"
        >
          <div>
            <div class="d-flex mb-30">
              <vue-good-table
                style="width:100%"
                :columns="columns"
                :pagination-options="{
                  enabled: false,
                  mode: 'records'
                }"
                styleClass="tableOne vgt-table"
                :rows="rows"
              >
                <template slot="table-row" slot-scope="props">
                  <span v-if="props.column.field == 'img'">
                    <img
                      class="rounded"
                      :src="props.row.img"
                      style="width:50px ; height:50px"
                      alt="corrupted img"
                    />
                  </span>
                </template>
              </vue-good-table>
            </div>
          </div>
        </vue-perfect-scrollbar>

        <!-- <div class="pl-3 pr-3 pt-3 pb-3 box-shadow-1 chat-input-area">
          <form class="inputForm">
            <div class="form-group">
              <textarea
                class="form-control form-control-rounded"
                placeholder="Type your message"
                name="message"
                id="message"
                cols="30"
                rows="3"
                spellcheck="false"
              ></textarea>
            </div>
            <div class="d-flex">
              <div class="flex-grow-1"></div>
              <button class="btn btn-icon btn-rounded btn-primary mr-2">
                <i class="i-Paper-Plane"></i>
              </button>
              <button
                class="btn btn-icon btn-rounded btn-outline-primary"
                type="button"
              >
                <i class="i-Add-File"></i>
              </button>
            </div>
          </form>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  metaInfo: {
    // if no subcomponents specify a metaInfo.title, this title will be used
    title: "Entrada Inventario"
  },
  data() {
    return {
      recentContacts: [],
      search: "",
      isMobile: false,
      columns: [
        {
          label: "Nombre",
          field: "name",
          html: true,
          sortable: false
        },
        {
          label: "Balance Actual",
          field: "balance",
          html: true,
          sortable: false
        },
        {
          label: "Cantidad",
          field: "quantity",
          html: true,
          sortable: false
        },
        {
          label: "Costo",
          field: "cost",
          html: true,
          sortable: false
        },
        {
          label: "Balance Final",
          field: "new_balance",
          html: true,
          sortable: false
        }
      ],
      rows: [
        {
          id: 1,
          img: require("@/assets/images/products/speaker-1.jpg"),
          name:
            "Wireless Bluetooth V4.0 Portable Speaker with HD Sound and Bass",
          balance: 0.03343,
          batch: "fdsdfsdfsdfsd2018-10-29",
          quantity: 0.03343,
          cost: 0.03343,
          due_date: "2020-01-20",
          new_balance: 0.03343
        },
        {
          id: 1,
          img: require("@/assets/images/products/speaker-2.jpg"),
          name:
            "Wireless Bluetooth V4.0 Portable Speaker with HD Sound and Bass",
          balance: 0.03343,
          batch: "fdsdfsdfsdfsd2018-10-29",
          quantity: 0.03343,
          cost: 0.03343,
          due_date: "2020-01-20",
          new_balance: 0.03343
        }
      ]
    };
  },
  methods: {
    ...mapActions(["changeSelectedProduct", "getProductsList"])
  },

  created() {
    this.getProductsList();
  },

  computed: {
    ...mapGetters(["getProductLists", "getSelectedProduct"]),

    filterProducts() {
      return this.getProductLists.filter(contact => {
        return contact.name.toLowerCase().match(this.search.toLowerCase());
      });
    }
  }

  //created: function() {
  //console.log(this.getSelectedProduct);
  // this.getCurrentUser.forEach(currentUser => {
  //   currentUser.chatInfo.forEach(user => {
  //     this.getContactLists.filter(contact => {
  //       if (user.contactId == contact.id) {
  //         this.recentContacts.push(contact);
  //       }
  //     });
  //   });
  // });
  //}
};
</script>

<style>
.chat-sidebar-container {
  height: calc(100vh - 210px);
  min-height: unset;
}
</style>
